extends pug-components/product

block product
    .title.title_h2
        .title__line
        .title__text Блок Хаус
        .title__line

    .product__gallery.gallery.flex_row__center.flex_wrap
        img(class="gallery__item" src="img/Блок Хаус большие фото/Блок хаус 1 (большое фото).jpg")
        img(class="gallery__item" src="img/Блок Хаус большие фото/Блок хаус 2 (большое фото).jpg")
        img(class="gallery__item" src="img/Блок Хаус большие фото/Блок хаус 3 (большое фото).jpg")
        img(class="gallery__item" src="img/Блок Хаус большие фото/Блок хаус 4 (большое фото).jpg")

    .table
        .table__title Блок Хаус
        .table__wrap
            table
                tbody
                    tr
                        th Размер, мм
                        th Качество
                        th Цена за лист
                    tr
                        td 28х140х6000
                        td ЭКСТРА
                        td.price 433 руб.
                    tr
                        td 35х140х6000
                        td ЭКСТРА
                        td.price 518 руб.
                    tr
                        td 36х190х6000
                        td ЭКСТРА
                        td.price 518 руб.
                    tr
                        td 45х190х6000
                        td ЭКСТРА
                        td.price 637 руб.
                    tr
                        td 45х240х6000
                        td ЭКСТРА
                        td.price 663 руб.



    h3.article__title
    p.article__p