extends pug-components/product

block product
    .title.title_h2
        .title__line
        .title__text Брикеты
        .title__line

    .product__gallery.gallery.flex_row__center.flex_wrap
        img(class="gallery__item" src="img/Брикеты большие фото/Брикеты 1(большое фото).jpg")
        img(class="gallery__item" src="img/Брикеты большие фото/Брикеты 2 (большое фото).jpg")
        img(class="gallery__item" src="img/Брикеты большие фото/Брикеты 3 (большое фото).jpg")
        img(class="gallery__item" src="img/Брикеты большие фото/Брикеты 4 (большое фото).jpg")

    .table.table_big#terrasnaya-doska-iz-listvennicy-velvet
        .table__title Вельвет
        .table__wrap
            table
                tbody
                    tr
                        th Вид
                        th Фасовка
                        th Цена за тонну
                    tr
                        td RUF береза пыль
                        td упаковка по 10 кг
                        td.price 5950 руб.
                    tr
                        td RUF береза опилки+пыль
                        td упаковка по 10 кг
                        td.price 6035 руб.
                    tr
                        td RUF хвоя опилки
                        td упаковка по 10 кг
                        td.price 4930 руб.
                    tr
                        td Торфяные брикеты
                        td упаковка по 10 кг
                        td.price 4675 руб.
                    tr
                        td Pini-Kay (береза)
                        td упаковка по 10 кг
                        td.price 6120 руб.
                    tr
                        td NESTRO
                        td упаковка по 10 кг
                        td.price 6290 руб.
