extends pug-components/product

block product
    .title.title_h2
        .title__line
        .title__text БРУС профилированный
        .title__line
    .spyLinks.flex_row__center.flex_wrap
        .spyLinks__item
            img(class="spyLink__img" src="img/Брус профилированный маленькие фото/Брус профилированный (маленькое фото).jpg")
            a(class="link-spy spyLinks__link" href="#brus-profilirovannyy") БРУС профилированный
        .spyLinks__item
            img(class="spyLink__img" src="img/Брус профилированный маленькие фото/Брус сухой профилированный (маленькое фото).jpg")
            a(class="link-spy spyLinks__link" href="#brus-suhoj-profilirovannyy") БРУС сухой профилированный
    .product__gallery.gallery.flex_row__center.flex_wrap
        img(class="gallery__item" src="img/Брус профилированный большие фото/Брус профилированный 1 (большое фото).jpg")
        img(class="gallery__item" src="img/Брус профилированный большие фото/Брус профилированный 2 (большое фото).jpg")
        img(class="gallery__item" src="img/Брус профилированный большие фото/Брус профилированный 3 (большое фото).jpg")
        img(class="gallery__item" src="img/Брус профилированный большие фото/Брус профилированный 4 (большое фото).jpg")

    .table#brus-profilirovannyy
        .table__title БРУС профилированный
        .table__wrap
            table
                tbody
                    tr
                        th Размер, мм
                        th Качество
                        th Штук в м3
                        th Цена за м3
                    tr
                        td 100х100х6000
                        td ЭКСТРА
                        td 16
                        td.price 9350 руб.
                    tr
                        td 100х150х6000
                        td ЭКСТРА
                        td 11
                        td.price 9775 руб.
                    tr
                        td 100х200х6000
                        td ЭКСТРА
                        td 8
                        td.price 9775 руб.
                    tr
                        td 150х150х6000
                        td ЭКСТРА
                        td 7
                        td.price 9775 руб.
                    tr
                        td 150х200х6000
                        td ЭКСТРА
                        td 5
                        td.price 10200 руб.
                    tr
                        td 200х200х6000
                        td ЭКСТРА
                        td 4
                        td.price 10200 руб.

    .table#brus-suhoj-profilirovannyy
        .table__title БРУС сухой профилированный
        .table__wrap
            table
                tbody
                    tr
                        th Размер, мм
                        th Качество
                        th Штук в м3
                        th Цена за м3
                    tr
                        td 100х100х6000
                        td ЭКСТРА
                        td 16
                        td.price 10625 руб.
                    tr
                        td 100х150х6000
                        td ЭКСТРА
                        td 11
                        td.price 10625 руб.
                    tr
                        td 100х200х6000
                        td ЭКСТРА
                        td 8
                        td.price 10625 руб.
                    tr
                        td 150х150х6000
                        td ЭКСТРА
                        td 7
                        td.price 10625 руб.
                    tr
                        td 150х200х6000
                        td ЭКСТРА
                        td 5
                        td.price 11050 руб.
                    tr
                        td 200х200х6000
                        td ЭКСТРА
                        td 4
                        td.price 11050 руб.


    h3.article__title
    p.article__p