extends pug-components/product

block product
    .title.title_h2
        .title__line
        .title__text БРУСок
        .title__line
    .spyLinks.flex_row__center.flex_wrap
        .spyLinks__item
            img(class="spyLink__img" src="img/Брусок маленькие фото/Брусок обрезной (маленькое фото).jpg")
            a(class="link-spy spyLinks__link" href="#brusok-obreznoj") БРУСок обрезной
        .spyLinks__item
            img(class="spyLink__img" src="img/Брусок маленькие фото/Брусок строганный (маленькое фото).jpg")
            a(class="link-spy spyLinks__link" href="#brusok-strogannyj") БРУСок строганный
    .product__gallery.gallery.flex_row__center.flex_wrap
        img(class="gallery__item" src="img/Брусок большие фото/Брусок 1 (большое фото).jpg")
        img(class="gallery__item" src="img/Брусок большие фото/Брусок 2 (большое фото).jpg")
        img(class="gallery__item" src="img/Брусок большие фото/Брусок 3 (большое фото).jpg")
        img(class="gallery__item" src="img/Брусок большие фото/Брусок 4 (большое фото).jpg")

    .table#brusok-obreznoj
        .table__title БРУСок обрезной
        .table__wrap
            table
                tbody
                    tr
                        th Размер, мм
                        th Качество
                        th Штук в м3
                        th Цена за штуку
                    tr
                        td 25х50х3000
                        td ЭКСТРА
                        td 266
                        td.price 21 руб.
                    tr
                        td 40х40х3000
                        td ЭКСТРА
                        td 208
                        td.price 46 руб.
                    tr
                        td 40х50х3000
                        td ЭКСТРА
                        td 166
                        td.price 55 руб.
                    tr
                        td 40х60х3000
                        td ЭКСТРА
                        td 138
                        td.price 63 руб.
                    tr
                        td 50х50х3000
                        td ЭКСТРА
                        td 133
                        td.price 63 руб.
                    tr
                        td 50х70х3000
                        td ЭКСТРА
                        td 95
                        td.price 80 руб.


    .table#brusok-strogannyj
        .table__title БРУСок строганный
        .table__wrap
            table
                tbody
                    tr
                        th Размер, мм
                        th Качество
                        th Штук в м3
                        th Цена за штуку
                    tr
                        td 40х60х3000
                        td ЭКСТРА
                        td 416
                        td.price 106 руб.
                    tr
                        td 20х40х3000
                        td ЭКСТРА
                        td 416
                        td.price 42 руб.
                    tr
                        td 20х50х3000
                        td ЭКСТРА
                        td 333
                        td.price 46 руб.
                    tr
                        td 30х40х3000
                        td ЭКСТРА
                        td 277
                        td.price 55 руб.
                    tr
                        td 30х50х3000
                        td ЭКСТРА
                        td 222
                        td.price 68 руб.
                    tr
                        td 40х40х3000
                        td ЭКСТРА
                        td 208
                        td.price 72 руб.
                    tr
                        td 40х50х3000
                        td ЭКСТРА
                        td 166
                        td.price 85 руб.
                    tr
                        td 50х50х3000
                        td ЭКСТРА
                        td 133
                        td.price 106 руб.
                    tr
                        td 50х70х3000
                        td ЭКСТРА
                        td 95
                        td.price 144 руб.



    h3.article__title
    p.article__p