extends pug-components/product

block product
    .title.title_h2
        .title__line
        .title__text брус обрезной
        .title__line
    .spyLinks.flex_row__center.flex_wrap
        .spyLinks__item
            img(class="spyLink__img" src="img/picture-brus-obreznoi-5.jpg")
            a(class="link-spy spyLinks__link" href="#brus-obreznoi-gost") Брус обрезной ГОСТ
        .spyLinks__item
            img(class="spyLink__img" src="img/picture-brus-obreznoi-6.jpg")
            a(class="link-spy spyLinks__link" href="#brus-obreznoi-ty") Брус обрезной сухой
    .product__gallery.gallery.flex_row__center.flex_wrap
        img(class="gallery__item" src="img/picture-brus-obreznoi-1.jpg")
        img(class="gallery__item" src="img/picture-brus-obreznoi-2.jpg")
        img(class="gallery__item" src="img/picture-brus-obreznoi-3.jpg")
        img(class="gallery__item" src="img/picture-brus-obreznoi-4.jpg")

    .table#brus-obreznoi-gost
        .table__title брус обрезной Гост
        .table__wrap
            table
                tbody
                    tr
                        th Размер, мм
                        th Качество
                        th Штук в м3
                        th Цена за м3
                    tr
                        td 100х100х6000
                        td ГОСТ
                        td 16
                        td.price 7055 руб.
                    tr
                        td 100х150х6000
                        td ГОСТ
                        td 11
                        td.price 7055 руб.
                    tr
                        td 100х200х6000
                        td ГОСТ
                        td 8
                        td.price 7055 руб.
                    tr
                        td 150х150х6000
                        td ГОСТ
                        td 7
                        td.price 7055 руб.
                    tr
                        td 150х200х6000
                        td ГОСТ
                        td 5
                        td.price 7055 руб.
                    tr
                        td 200х200х6000
                        td ГОСТ
                        td 4
                        td.price 7225 руб.

    .table#brus-obreznoi-ty
        .table__title брус обрезной сухой
        .table__wrap
            table
                tbody
                    tr
                        th Размер, мм
                        th Влажность
                        th Штук в м3
                        th Цена за м3
                    tr
                        td 100х100х6000
                        td 8-12%
                        td 16
                        td.price 8950 руб.
                    tr
                        td 100х150х6000
                        td 8-12%
                        td 11
                        td.price 8950 руб.
                    tr
                        td 100х200х6000
                        td 8-12%
                        td 8
                        td.price 8950 руб.
                    tr
                        td 150х150х6000
                        td 8-12%
                        td 7
                        td.price 8950 руб.
                    tr
                        td 150х200х6000
                        td 8-12%
                        td 5
                        td.price 8950 руб.
                    tr
                        td 200х200х6000
                        td 8-12%
                        td 4
                        td.price 8950 руб.


    h3.article__title Достоинства обрезного бруса
    p.article__p У этого стройматериала много имеется преимуществ. Надо сразу обратить внимание на то, что он высушен в специальной автоматизированной сушильной камере. Благодаря этому в древесине может быть минимум трещин. За счет такого вида сушки получается пиломатериал необходимого процента влажности, не больше 10-12%.
    p.article__p Обрезной брус камерной сушки имеет и другие преимущества, про которые необходимо знать любому застройщику:
    p.article__p — приемлемая себестоимость материала;
    p.article__p — можно не переживать относительно появления грибка или плесени;
    p.article__p — даже в процессе эксплуатации редко появляются трещины.
    p.article__p Высушенный таким способом брус не подвергается деформации, и на это также надо обратить внимание. Он имеет легкий вес, что облегчает как процесс транспортировки, так и монтажных работ.
    h3.article__title Как выбрать
    p.article__p Планируя купить обрезной сухой брус, необходимо сразу определиться с видом древесины. Чаще всего этот пиломатериал изготовляется из хвойных пород древесины. Для этого используется ель, сосна или лиственница. Лиственница не так боится влаги, отличается своей плотной структурой, поэтому цена такого бруса немного дороже. А второй не менее важный момент - это размеры данного материала.
    p.article__p Мы предлагаем сухой обрезной брус 1-го сорта длиной 6 м разного сечения, от 100х100 и до 200х200 мм, поэтому у покупателя имеется возможность выбора. Можно купить его как для строительства дома, так и для других целей. Не на каждом складе удастся найти именно такой пиломатериал.
