extends pug-components/product

block product
    .title.title_h2
        .title__line
        .title__text БРУС профилированный
        .title__line
    .spyLinks.flex_row__center.flex_wrap
        .spyLinks__item
            img(class="spyLink__img" src="img/Брус профилированный маленькие фото/Брус профилированный (маленькое фото).jpg")
            a(class="link-spy spyLinks__link" href="#brus-profilirovannyy") БРУС профилированный
        .spyLinks__item
            img(class="spyLink__img" src="img/Брус профилированный маленькие фото/Брус сухой профилированный (маленькое фото).jpg")
            a(class="link-spy spyLinks__link" href="#brus-suhoj-profilirovannyy") БРУС сухой профилированный
    .product__gallery.gallery.flex_row__center.flex_wrap
        img(class="gallery__item" src="img/Брус профилированный большие фото/Брус профилированный 1 (большое фото).jpg")
        img(class="gallery__item" src="img/Брус профилированный большие фото/Брус профилированный 2 (большое фото).jpg")
        img(class="gallery__item" src="img/Брус профилированный большие фото/Брус профилированный 3 (большое фото).jpg")
        img(class="gallery__item" src="img/Брус профилированный большие фото/Брус профилированный 4 (большое фото).jpg")

    .table#brus-profilirovannyy
        .table__title БРУС профилированный
        .table__wrap
            table
                tbody
                    tr
                        th Размер, мм
                        th Качество
                        th Штук в м3
                        th Цена за м3
                    tr
                        td 100х100х6000
                        td ЭКСТРА
                        td 16
                        td.price 10950 руб.
                    tr
                        td 100х150х6000
                        td ЭКСТРА
                        td 11
                        td.price 10950 руб.
                    tr
                        td 100х200х6000
                        td ЭКСТРА
                        td 8
                        td.price 10950 руб.
                    tr
                        td 150х150х6000
                        td ЭКСТРА
                        td 7
                        td.price 10950 руб.
                    tr
                        td 150х200х6000
                        td ЭКСТРА
                        td 5
                        td.price 11200 руб.
                    tr
                        td 200х200х6000
                        td ЭКСТРА
                        td 4
                        td.price 11200 руб.

    .table#brus-suhoj-profilirovannyy
        .table__title БРУС сухой профилированный
        .table__wrap
            table
                tbody
                    tr
                        th Размер, мм
                        th Качество
                        th Штук в м3
                        th Цена за м3
                    tr
                        td 100х100х6000
                        td ЭКСТРА
                        td 16
                        td.price 12950 руб.
                    tr
                        td 100х150х6000
                        td ЭКСТРА
                        td 11
                        td.price 12950 руб.
                    tr
                        td 100х200х6000
                        td ЭКСТРА
                        td 8
                        td.price 12950 руб.
                    tr
                        td 150х150х6000
                        td ЭКСТРА
                        td 7
                        td.price 12950 руб.
                    tr
                        td 150х200х6000
                        td ЭКСТРА
                        td 5
                        td.price 13200 руб.
                    tr
                        td 200х200х6000
                        td ЭКСТРА
                        td 4
                        td.price 13200 руб.



    h3.article__title Преимущество материала


    p.article__p Сухой профилированный брус, цена которого отличается доступностью, обладает массой положительных характеристик:
    p.article__p — отменные теплоизоляционные показатели (обеспечивает комфортный климат внутри помещения);
    p.article__p — наличие дышащих качеств, благодаря чему внутри помещения всегда сохраняется свежий воздух;
    p.article__p —  экологическая чистота (профильный брус совершенно безвреден для здоровья аллергиков и маленьких детей);
    p.article__p — стойкость к перепадам температур;
    p.article__p — простота укладки.
    h3.article__title Особенности профилированного бруса
    p.article__p Наша компания не первый год осуществляет производство профилированного бруса в Московской области, пригодного для возведения бытовых и жилых построек.

    p.article__p У нас можно приобрести материал как оптом, так и в розницу.

    p.article__p Основу нашего товарного ассортимента представляет профилированный брус камерной сушки, изготовленный из высококачественного сырья. В отличие от аналога – пиломатериала естественной влажности, такой профилированный брус имеет более низкую влажность (10-14%), за счет чего материал получает повышенные показатели прочности.
    p.article__p Общие характеристики изделия: 1 сорт, хвойные породы древесины. Сырье и сама готовая продукция соответствует всем нормам и требованиям ГОСТ.

    p.article__p Нами осуществляется продажа профилированного бруса следующего калибра:
    p.article__p —  100х100х6;
    p.article__p —  100х200х6;
    p.article__p — 150х150х6;
    p.article__p — 150х200х6;
    p.article__p — другие варианты.