extends pug-components/layout

block append title
    -page = 'Доставка и оплата'

block content
    .deliverySection
        .container
            .deliverySection__title.title.title_h2
                .title__line
                .title__text Доставка по всей России.
                .title__line
            .article__p Обратившись в отдел нашей компании, Вы узнаете, сколько стоит доставка пиломатериалов. Просто укажите точный адрес доставки. А наши специалисты посчитают, сколько будет стоить доставка необходимого Вам пиломатериала. Это будет зависеть от расстояния перевозки, веса и объема пиломатериала.
            .article__p Прежде чем заказать необходимый пиломатериал следует обратить внимание на варианты доставки, в другом случае компания не несет ответственность за Ваш выбор.
            .article__p Существует два варианта доставки пиломатериалов:<br>- самовывоз<br>-транспортом продавца
            .article__p Задержаться товар может в случае непредвиденных обстоятельств.