extends pug-components/layout

block append title
    -page = 'Доставка и оплата'

block content
    .deliverySection
        .container
            .deliverySection__title.title.title_h2
                .title__line
                .title__text Доставка
                .title__line
            .article__p Наша компания располагает как собственным автотранспортом, так и активно работает с различными транспортными компаниями.
            .article__p Клиенты нашей компании всегда могут воспользоваться автопарком нашей компании, либо забрать товар самостоятельно.
            .article__p При доставке заказа автотранспортом нашей компании вся продукция упаковывается. Благодаря этому удается избежать повреждения товара при транспортировке.
            .article__p Доставка производится до указанного места, выгрузка товара производится заказчиком.
