extends pug-components/product

block product
    .title.title_h2
        .title__line
        .title__text Доска обрезная
        .title__line
    .spyLinks.flex_row__center.flex_wrap
        .spyLinks__item
            img(class="spyLink__img" src="img/Доска обрезная маленькие фото/Брус и доска обрезная осина маленькое фото.jpg")
            a(class="link-spy spyLinks__link" href="#doska-obreznaya") Доска обрезная
        .spyLinks__item
            img(class="spyLink__img" src="img/Доска обрезная маленькие фото/Доска обрезная 2 сорт ГОСТ.jpg")
            a(class="link-spy spyLinks__link" href="#doska-obreznaya-osina") Доска обрезная осина
        .spyLinks__item
            img(class="spyLink__img" src="img/Доска обрезная маленькие фото/Доска обрезная 2 сорт ТУ.jpg")
            a(class="link-spy spyLinks__link" href="#doska-obreznaya-2-j-sort") Доска обрезная 2-й сорт

    .product__gallery.gallery.flex_row__center.flex_wrap
        img(class="gallery__item" src="img/Доска обрезная большое фото/Доска обрезная 1 (большое фото).jpg")
        img(class="gallery__item" src="img/Доска обрезная большое фото/ОСБ плита 2 (большое фото).jpg")
        img(class="gallery__item" src="img/Доска обрезная большое фото/ОСБ плита 3 (большое фото).jpg")
        img(class="gallery__item" src="img/Доска обрезная большое фото/ОСБ плита 4 (большое фото).jpg")



    .table#doska-obreznaya
        .table__title Доска обрезная
        .table__wrap
            table
                tbody
                    tr
                        th Размер, мм
                        th Качество
                        th Штук в м3
                        th Цена за м3
                    tr
                        td 25х100х6000
                        td ТУ
                        td 66
                        td.price 6205 руб.
                    tr
                        td 25х150х6000
                        td ТУ
                        td 44
                        td.price 6205 руб.
                    tr
                        td 25х200х6000
                        td ТУ
                        td 33
                        td.price 6205 руб.
                    tr
                        td 40х100х6000
                        td ТУ
                        td 41
                        td.price 6205 руб.
                    tr
                        td 40х150х6000
                        td ТУ
                        td 27
                        td.price 6205 руб.
                    tr
                        td 40х200х6000
                        td ТУ
                        td 20
                        td.price 6205 руб.
                    tr
                        td 50х100х6000
                        td ТУ
                        td 33
                        td.price 6205 руб.
                    tr
                        td 50х150х6000
                        td ТУ
                        td 22
                        td.price 6205 руб.
                    tr
                        td 50х200х6000
                        td ТУ
                        td 16
                        td.price 6205 руб.
                    tr
                        td 25х100х6000
                        td ГОСТ
                        td 66
                        td.price 7055 руб.
                    tr
                        td 25х150х6000
                        td ГОСТ
                        td 44
                        td.price 7055 руб.
                    tr
                        td 25х200х6000
                        td ГОСТ
                        td 33
                        td.price 7055 руб.
                    tr
                        td 40х100х6000
                        td ГОСТ
                        td 41
                        td.price 7055 руб.
                    tr
                        td 40х150х6000
                        td ГОСТ
                        td 27
                        td.price 7055 руб.
                    tr
                        td 40х200х6000
                        td ГОСТ
                        td 20
                        td.price 7055 руб.
                    tr
                        td 50х100х6000
                        td ГОСТ
                        td 33
                        td.price 7055 руб.
                    tr
                        td 50х150х6000
                        td ГОСТ
                        td 22
                        td.price 7055 руб.
                    tr
                        td 50х200х6000
                        td ГОСТ
                        td 16
                        td.price 7055 руб.


    .table#doska-obreznaya-osina
        .table__title Доска обрезная осина
        .table__wrap
            table
                tbody
                    tr
                        th Размер, мм
                        th Качество
                        th Штук в м3
                        th Цена за м3
                    tr
                        td 100х100х6000
                        td ЭКСТРА
                        td 16
                        td.price 4675 руб.
                    tr
                        td 25х100х6000
                        td ЭКСТРА
                        td 66
                        td.price 4675 руб.
                    tr
                        td 25х150х6000
                        td ЭКСТРА
                        td 44
                        td.price 4675 руб.
                    tr
                        td 25х200х6000
                        td ЭКСТРА
                        td 33
                        td.price 4675 руб.
                    tr
                        td 40х100х6000
                        td ЭКСТРА
                        td 41
                        td.price 4675 руб.
                    tr
                        td 40х150х6000
                        td ЭКСТРА
                        td 27
                        td.price 4675 руб.
                    tr
                        td 40х200х6000
                        td ЭКСТРА
                        td 20
                        td.price 4675 руб.
                    tr
                        td 50х100х6000
                        td ЭКСТРА
                        td 33
                        td.price 4675 руб.
                    tr
                        td 50х150х6000
                        td ЭКСТРА
                        td 22
                        td.price 4675 руб.
                    tr
                        td 50х200х6000
                        td ЭКСТРА
                        td 16
                        td.price 4675 руб.

    .table#doska-obreznaya-2-j-sort
        .table__title Доска обрезная
        .table__wrap
            table
                tbody
                    tr
                        th Размер, мм
                        th Качество
                        th Штук в м3
                        th Цена за м3
                    tr
                        td 25х100х6000
                        td ГОСТ
                        td 66
                        td.price 3825 руб.
                    tr
                        td 25х150х6000
                        td ГОСТ
                        td 44
                        td.price 3825 руб.
                    tr
                        td 25х100х6000
                        td ТУ
                        td 66
                        td.price 3570 руб.
                    tr
                        td 25х150х6000
                        td ТУ
                        td 44
                        td.price 3570 руб.

    h3.article__title Ассортимент

    p.article__p В зависимости от кромки различают разные сорта изделий, а именно: 1, 2 сорт. Первосортная доска обрезная сухая от производителя Руслесгрупп без сучков, она не деформирована, имеет ровную текстуру. Цена материала рассчитывается в метрах кубических.

    p.article__p Купить доску обрезную сухую можно в разных типоразмерах: толщина от 25 до 50 мм, ширина от 100 до 200 мм, длина – 6 метров. Если вам необходимы нестандартные габариты – то обратитесь для заказа к нашим менеджерам по телефонам на сайте.

    p.article__p Ширина изделия в два раза превышает его толщину. Ровные геометрические формы, отсутствие усадки и высокая прочность – главные преимущества материала. обладает повышенной стойкостью к гниению, легко поддается обработке, имеет высокие изолирующие свойства, экологически безопасна. Доступная цена и высокие показатели качества делают этот пиломатериал особенно популярным.
    h3.article__title Производство обрезной доски и область применения
    p.article__p Технология производства подразумевает сушку в специальных камерах. Процесс сушки занимает достаточно много времени и является необходимым условием. Именно благодаря сушке изделия приобретают нужные показатели прочности.

    p.article__p Существует несколько типов распила:
    p.article__p — с линией среза по центру ствола;
    p.article__p — с углом наклона колец;
    p.article__p — от середины бревна.

    p.article__p  Доска сухая обрезная из хвойных пород деревьев - популярный материал для изготовления лестничных маршей, сооружения опалубки, черновой отделки помещений, ее используют при проведении строительных и кровельных работ, а также в мебельной промышленности. Пиломатериал одинаково подходит для проведения внутренних и наружных работ.
