extends pug-components/product

block product
    .title.title_h2
        .title__line
        .title__text Фанера ФСФ
        .title__line
    .spyLinks.flex_row__center.flex_wrap
        .spyLinks__item
            img(class="spyLink__img" src="img/Фанера ФСФ маленькие фото/Фанера Фсф 1 маленькая фотография.jpg")
            a(class="link-spy spyLinks__link" href="#fanera-fsf-1220-2440-3-3") Фанера ФСФ 1220*2440 3/3
        .spyLinks__item
            img(class="spyLink__img" src="img/Фанера ФСФ маленькие фото/Фанера Фсф 2 маленькая фотография.jpg")
            a(class="link-spy spyLinks__link" href="#fanera-fsf-1220-2440-3-4") Фанера ФСФ 1220х2440 3/4
        .spyLinks__item
            img(class="spyLink__img" src="img/Фанера ФСФ маленькие фото/Фанера Фсф 3 маленькая фотография.jpg")
            a(class="link-spy spyLinks__link" href="#fanera-fsf-1220-2440-4-4") Фанера ФСФ 1220*2440 4/4
        .spyLinks__item
            img(class="spyLink__img" src="img/Фанера ФСФ маленькие фото/Фанера Фсф 4 маленькая фотография.jpg")
            a(class="link-spy spyLinks__link" href="#fanera-fsf-1500-3000-4-4") Фанера ФСФ 1500*3000 4/4


    .product__gallery.gallery.flex_row__center.flex_wrap
        img(class="gallery__item" src="img/Фанера ФСФ большое фото/Фанера Фсф 1 Большая фотография.jpg")
        img(class="gallery__item" src="img/Фанера ФСФ большое фото/Фанера Фсф 2 Большая фотография.jpg")
        img(class="gallery__item" src="img/Фанера ФСФ большое фото/Фанера Фсф 3 Большая фотография.jpg")
        img(class="gallery__item" src="img/Фанера ФСФ большое фото/Фанера Фсф 4 Большая фотография.jpg")

    .table#fanera-fsf-1220-2440-3-3
        .table__title Фанера ФСФ 1220*2440 3/3
        .table__wrap
            table
                tbody
                    tr
                        th Размер, мм
                        th Качество
                        th Цена за лист
                    tr
                        td 6х1220х2440
                        td ГОСТ
                        td.price 467 руб.
                    tr
                        td 9х1220х2440
                        td ГОСТ
                        td.price 637 руб.
                    tr
                        td 12х1220х2440
                        td ГОСТ
                        td.price 765 руб.
                    tr
                        td 15х1220х2440
                        td ГОСТ
                        td.price 977 руб.
                    tr
                        td 18х1220х2440
                        td ГОСТ
                        td.price 1190 руб.
                    tr
                        td 21х1220х2440
                        td ГОСТ
                        td.price 1402 руб.


    .table#fanera-fsf-1220-2440-3-4
        .table__title Фанера ФСФ 1220х2440 3/4
        .table__wrap
            table
                tbody
                    tr
                        th Размер, мм
                        th Качество
                        th Цена за лист
                    tr
                        td 4х1220х2440
                        td ГОСТ
                        td.price 552 руб.
                    tr
                        td 6х1220х2440
                        td ГОСТ
                        td.price 637 руб.
                    tr
                        td 9х1220х2440
                        td ГОСТ
                        td.price 935 руб.
                    tr
                        td 12х1220х2440
                        td ГОСТ
                        td.price 1105 руб.
                    tr
                        td 15х1220х2440
                        td ГОСТ
                        td.price 1275 руб.
                    tr
                        td 18х1220х2440
                        td ГОСТ
                        td.price 1487 руб.
                    tr
                        td 21х1220х2440
                        td ГОСТ
                        td.price 1827 руб.


    .table#fanera-fsf-1220-2440-4-4
        .table__title Фанера ФСФ 1220*2440 4/4
        .table__wrap
            table
                tbody
                    tr
                        th Размер, мм
                        th Качество
                        th Цена за лист
                    tr
                        td 4х1220х2440
                        td ГОСТ
                        td.price 425 руб.
                    tr
                        td 6х1220х2440
                        td ГОСТ
                        td.price 510 руб.
                    tr
                        td 9х1220х2440
                        td ГОСТ
                        td.price 680 руб.
                    tr
                        td 12х1220х2440
                        td ГОСТ
                        td.price 807 руб.
                    tr
                        td 15х1220х2440
                        td ГОСТ
                        td.price 1062 руб.
                    tr
                        td 18х1220х2440
                        td ГОСТ
                        td.price 1275 руб.
                    tr
                        td 21х1220х2440
                        td ГОСТ
                        td.price 1402 руб.
                    tr
                        td 24х1220х2440
                        td ГОСТ
                        td.price 1802 руб.
                    tr
                        td 27х1220х2440
                        td ГОСТ
                        td.price 2023 руб.
                    tr
                        td 30х1220х2440
                        td ГОСТ
                        td.price 2244 руб.
                    tr
                        td 35х1220х2440
                        td ГОСТ
                        td.price 2592 руб.
                    tr
                        td 40х1220х2440
                        td ГОСТ
                        td.price 2975 руб.

    .table#fanera-fsf-1500-3000-4-4
        .table__title Фанера ФСФ 1500*3000 4/4
        .table__wrap
            table
                tbody
                    tr
                        th Размер, мм
                        th Качество
                        th Цена за лист
                    tr
                        td 6х1500х3000
                        td ГОСТ
                        td.price 807 руб.
                    tr
                        td 9х1500х3000
                        td ГОСТ
                        td.price 1173 руб.
                    tr
                        td 12х1500х3000
                        td ГОСТ
                        td.price 1445 руб.
                    tr
                        td 15х1500х3000
                        td ГОСТ
                        td.price 1827 руб.
                    tr
                        td 18х1500х3000
                        td ГОСТ
                        td.price 2040 руб.
                    tr
                        td 21х1500х3000
                        td ГОСТ
                        td.price 2167 руб.


    h3.article__title Фанера ФСФ

    p.article__p Фанера является материалом, изготавливаемым из шпона путем склеивания между собой слоев специальным составом. Обычно его производят в виде квадратных элементов. Очень популярен в строительной сфере, а также мебельной промышленности. Фанера ФСФ – расшифровка этой аббревиатуры проста. Первая буква Ф и обозначает название материала, то есть – «фанера». СФ – обозначает название клея – смоляной фенолформальдегидный. Изготавливают шпон из древесной стружки. Материал может быть как из лиственных, так и из хвойных пород деревьев. ФСФ склеивается из нескольких слоев шпона – от трех и больше. Из-за специфического клея на торцах материала можно увидеть темные красные или же бурые прослойки. Если вы решили ФСФ купить в Москве, то наша компания «STROY-ZAKAZ» предлагает ознакомиться вам с нашим ассортиментом. Мы предлагаем качественную продукцию по привлекательной стоимости.
    h3.article__title Где используют фанеру
    p.article__p Обязательно хвойный шпон используют снаружи, если материал должен быть влагостойким. Внутренние элементы могут быть и из лиственного дерева. Отмечается особая устойчивость к микроорганизмам. Такую фанеру не потревожит грибок, а также гниение. Березовая ФСФ выполняется из древесины одноименного названия. Отличается замечательной прочностью, а также износостойкостью. Стоимость такой фанеры достаточно высока. Шпон для изготовления выбирают только березовый, из-за этого прочность материала увеличивается приблизительно на 20%. Однако в этом случае вырастает и вес.

    p.article__p ФСФ является натуральной продукцией. Ее свойства позволяют использовать материал в любых климатических зонах. Придется по вкусу он тем, кто имеет тонкий вкус. Взгляд на эту необычную фанеру приносит эстетическое наслаждение. В строительстве этот материал чаще всего применяют во время отделочных работ. Однако он имеет недостаток – в составе содержатся токсичные элементы. Именно поэтому для внутренней отделки ФСФ используют крайне редко.
    h3.article__title Технические характеристики

    p.article__p ФСФ разделяют по гладкости. Необработанная – НШ. Ш1 – обработана с 1 стороны. Ш2 – обработана с 2-ух сторон.
    p.article__p Сорта фанеры ФСФ разделяются на 5 вариантов. Различают их по поверхности материала:
    p.article__p — <b>В</b> – видимых дефектов нет.
    p.article__p — <b>ВВ</b> – отсутствуют сучки, однако, могут быть черные точки.
    p.article__p — <b>Е</b> – элитный сорт. Без изъянов.
    p.article__p — <b>СР</b> – присутствие дефектов, которые прячут под кусочками шпона.
    p.article__p — <b>С</b> – присутствуют сучки.
    p.article__p — <b>СС</b> – материал со многими дефектами.

    p.article__p Цена на ФСФ в Москве зависит от всех этих параметров. Играет роль и материал, используемый при изготовлении, и сорт, и качество шлифовки. Мы предлагаем ознакомиться с ассортиментом фанеры, расположенным на нашем сайте. Там же представлены цены. После заказа мы поможем определиться с доставкой товара.