extends pug-components/product

block product
    .title.title_h2
        .title__line
        .title__text Фанера ФК
        .title__line
    .spyLinks.flex_row__center.flex_wrap
        .spyLinks__item
            img(class="spyLink__img" src="img/Фанера Фк маленькие фото/Фанера ФК 3.4.jpg")
            a(class="link-spy spyLinks__link" href="#fanera-fk-sort-3-4") Фанера ФК сорт 3/4
        .spyLinks__item
            img(class="spyLink__img" src="img/Фанера Фк маленькие фото/Фанера ФК 4.4.jpg")
            a(class="link-spy spyLinks__link" href="#fanera-fk-sort-4-4") Фанера ФК сорт 4/4
        .spyLinks__item
            img(class="spyLink__img" src="img/Фанера Фк маленькие фото/Фанера ФК строительный.jpg")
            a(class="link-spy spyLinks__link" href="#fanera-fk-stroitelnaya") Фанера строительная

    .product__gallery.gallery.flex_row__center.flex_wrap
        img(class="gallery__item" src="img/Фанера Фк большое фото/Фанера ФК 1 (большое фото).jpg")
        img(class="gallery__item" src="img/Фанера Фк большое фото/Фанера ФК 2 (большое фото).jpg")
        img(class="gallery__item" src="img/Фанера Фк большое фото/Фанера ФК 3 (большое фото).jpg")
        img(class="gallery__item" src="img/Фанера Фк большое фото/Фанера ФК 4 (большое фото).jpg")

    .table#fanera-fk-sort-3-4
        .table__title Фанера ФК сорт 3/4
        .table__wrap
            table
                tbody
                    tr
                        th Размер, мм
                        th Качество
                        th Цена за лист
                    tr
                        td 4х1525х1525
                        td ГОСТ
                        td.price 331 руб.
                    tr
                        td 6х1525х1525
                        td ГОСТ
                        td.price 450 руб.
                    tr
                        td 9х1525х1525
                        td ГОСТ
                        td.price 595 руб.
                    tr
                        td 12х1525х1525
                        td ГОСТ
                        td.price 765 руб.
                    tr
                        td 15х1525х1525
                        td ГОСТ
                        td.price 935 руб.
                    tr
                        td 18х1525х1525
                        td ГОСТ
                        td.price 1113 руб.
                    tr
                        td 21х1525х1525
                        td ГОСТ
                        td.price 1232 руб.
                    tr
                        td 24х1525х1525
                        td ГОСТ
                        td.price 1445 руб.
                    tr
                        td 30х1525х1525
                        td ГОСТ
                        td.price 1997 руб.

    .table#fanera-fk-sort-4-4
        .table__title Фанера ФК сорт 4/4
        .table__wrap
            table
                tbody
                    tr
                        th Размер, мм
                        th Качество
                        th Цена за лист
                    tr
                        td 4х1525х1525
                        td ГОСТ
                        td.price 314 руб.
                    tr
                        td 6х1525х1525
                        td ГОСТ
                        td.price 400 руб.
                    tr
                        td 9х1525х1525
                        td ГОСТ
                        td.price 484 руб.
                    tr
                        td 12х1525х1525
                        td ГОСТ
                        td.price 586 руб.
                    tr
                        td 15х1525х1525
                        td ГОСТ
                        td.price 731 руб.
                    tr
                        td 18х1525х1525
                        td ГОСТ
                        td.price 858 руб.
                    tr
                        td 21х1525х1525
                        td ГОСТ
                        td.price 952 руб.
                    tr
                        td 24х1525х1525
                        td ГОСТ
                        td.price 1249 руб.
                    tr
                        td 30х1525х1525
                        td ГОСТ
                        td.price 1334 руб.


    .table#fanera-fk-stroitelnaya
        .table__title Фанера строительная
        .table__wrap
            table
                tbody
                    tr
                        th Размер, мм
                        th Качество
                        th Цена за лист
                    tr
                        td 4х1525х1525
                        td ГОСТ
                        td.price 229 руб.
                    tr
                        td 6х1525х1525
                        td ГОСТ
                        td.price 306 руб.
                    tr
                        td 8х1525х1525
                        td ГОСТ
                        td.price 400 руб.
                    tr
                        td 9х1525х1525
                        td ГОСТ
                        td.price 408 руб.
                    tr
                        td 12х1525х1525
                        td ГОСТ
                        td.price 518 руб.
                    tr
                        td 15х1525х1525
                        td ГОСТ
                        td.price 629 руб.
                    tr
                        td 18х1525х1525
                        td ГОСТ
                        td.price 739 руб.
                    tr
                        td 21х1525х1525
                        td ГОСТ
                        td.price 858 руб.

    h3.article__title Фанера – качественный материал для обшивки и изготовления мебели в Москве

    p.article__p Фанера – тонкое древесное полотно, которое делают из нескольких слоев древесины. Листы собирают, склеивая между собой натуральный шпон. Чтобы произошло идеальное и долговечное соединение, применяют либо клей, либо смолу. От  изменения клеящего состава зависит такая характеристика, как водостойкость.  Между собой склеивают несколько слоев – от 3 до 23.

    p.article__p Чтобы сделать эксплуатационные качества материала лучше, при соединении пластин укладку древесных волокон меняют. Если вам нужна фанера влагостойкая, то важно уделить внимание особенностям маркировки.  Изделия, которые имеют обычную водостойкость называются «ФК», а повышенную – «ФСФ».  Характеристики этих материалов отличаются по содержащимся в их составе смолам.

    p.article__p Основные виды продукции

    p.article__p Различают этот строительный материал по методу механической обработки. Он может быть либо шлифованным, либо нешлифованным. Также есть фанера, которая прошла обработку с одной или же двух сторон.

    p.article__p Отличается продукция и своим будущим назначением и сырьем, которое используется для изготовления. Береза и сосна – самые популярные породы деревьев, из которых производят материал. Интересно, что один лист фанеры может включать в себя и тот, и другой вид древесины. Самым популярным является изделие из лиственной породы древесины – березы. Все дело в шпоне – такой материал водостойкий и достаточно прочный. Фанера из березового материала имеет красивую структуру, легко шлифуется, отлично проходит процесс тонировки в любой цвет. Лист может иметь толщину от 4 до 30 мм.

    p.article__p Фанера годится для изготовления мебели, а также для внутренней обшивки стен в зданиях. Материал, который имеет дефекты на поверхности, используют для черновой обработки кровли и пола, также из него изготавливают тару. Цена фанеры в Москве может быть различной. Мы предлагаем вам материал, который соответствует критерию достойного качества по доступной стоимости.

    p.article__p Фанера из сосны выглядит весьма эстетично. Если сравнивать с лиственным пиломатериалом, то можно сказать, что изделия из хвойной породы не такие прочные, однако менее подвержены гниению, имеют стойкость к грибку.  Такая фанера достаточно легкая. Обычно в одном листе склеено 5-7 слоев. Строители применяют материал для внутренней отделки. Также из него делают мебелировку. Мы предлагаем купить фанеру в Москве по доступным ценам. Весь ассортимент представлен перед вами на сайте.  Сорт фанеры можно определить по количеству сучков, которые находятся на 1 квадратном метре.

    p.article__p Дескрипшен: Сегодня купить качественную фанеру в Москве несложно. Мы предлагаем своим клиентам достойное качество материала по приемлемой цене, также помогаем решить вопрос с доставкой.