extends pug-components/product

block product
    .title.title_h2
        .title__line
        .title__text Фанера ФК
        .title__line
    .spyLinks.flex_row__center.flex_wrap
        .spyLinks__item
            img(class="spyLink__img" src="img/Фанера Фк маленькие фото/Фанера ФК 3.4.jpg")
            a(class="link-spy spyLinks__link" href="#fanera-fk-sort-3-4") Фанера ФК сорт 3/4
        .spyLinks__item
            img(class="spyLink__img" src="img/Фанера Фк маленькие фото/Фанера ФК 4.4.jpg")
            a(class="link-spy spyLinks__link" href="#fanera-fk-sort-4-4") Фанера ФК сорт 4/4
        .spyLinks__item
            img(class="spyLink__img" src="img/Фанера Фк маленькие фото/Фанера ФК строительный.jpg")
            a(class="link-spy spyLinks__link" href="#fanera-fk-stroitelnaya") Фанера строительная

    .product__gallery.gallery.flex_row__center.flex_wrap
        img(class="gallery__item" src="img/Фанера Фк большое фото/Фанера ФК 1 (большое фото).jpg")
        img(class="gallery__item" src="img/Фанера Фк большое фото/Фанера ФК 2 (большое фото).jpg")
        img(class="gallery__item" src="img/Фанера Фк большое фото/Фанера ФК 3 (большое фото).jpg")
        img(class="gallery__item" src="img/Фанера Фк большое фото/Фанера ФК 4 (большое фото).jpg")

    .table#fanera-fk-sort-3-4
        .table__title Фанера ФК сорт 3/4
        .table__wrap
            table
                tbody
                    tr
                        th Размер, мм
                        th Качество
                        th Цена за лист
                    tr
                        td 4х1525х1525
                        td ЭКСТРА
                        td.price 331 руб.
                    tr
                        td 6х1525х1525
                        td ЭКСТРА
                        td.price 450 руб.
                    tr
                        td 9х1525х1525
                        td ЭКСТРА
                        td.price 595 руб.
                    tr
                        td 12х1525х1525
                        td ЭКСТРА
                        td.price 765 руб.
                    tr
                        td 15х1525х1525
                        td ЭКСТРА
                        td.price 935 руб.
                    tr
                        td 18х1525х1525
                        td ЭКСТРА
                        td.price 1113 руб.
                    tr
                        td 21х1525х1525
                        td ЭКСТРА
                        td.price 1232 руб.
                    tr
                        td 24х1525х1525
                        td ЭКСТРА
                        td.price 1445 руб.
                    tr
                        td 30х1525х1525
                        td ЭКСТРА
                        td.price 1997 руб.

    .table#fanera-fk-sort-4-4
        .table__title Фанера ФК сорт 4/4
        .table__wrap
            table
                tbody
                    tr
                        th Размер, мм
                        th Качество
                        th Цена за лист
                    tr
                        td 4х1525х1525
                        td ЭКСТРА
                        td.price 314 руб.
                    tr
                        td 6х1525х1525
                        td ЭКСТРА
                        td.price 400 руб.
                    tr
                        td 9х1525х1525
                        td ЭКСТРА
                        td.price 484 руб.
                    tr
                        td 12х1525х1525
                        td ЭКСТРА
                        td.price 586 руб.
                    tr
                        td 15х1525х1525
                        td ЭКСТРА
                        td.price 731 руб.
                    tr
                        td 18х1525х1525
                        td ЭКСТРА
                        td.price 858 руб.
                    tr
                        td 21х1525х1525
                        td ЭКСТРА
                        td.price 952 руб.
                    tr
                        td 24х1525х1525
                        td ЭКСТРА
                        td.price 1249 руб.
                    tr
                        td 30х1525х1525
                        td ЭКСТРА
                        td.price 1334 руб.


    .table#fanera-fk-stroitelnaya
        .table__title Фанера строительная
        .table__wrap
            table
                tbody
                    tr
                        th Размер, мм
                        th Качество
                        th Цена за лист
                    tr
                        td 4х1525х1525
                        td ЭКСТРА
                        td.price 229 руб.
                    tr
                        td 6х1525х1525
                        td ЭКСТРА
                        td.price 306 руб.
                    tr
                        td 8х1525х1525
                        td ЭКСТРА
                        td.price 400 руб.
                    tr
                        td 9х1525х1525
                        td ЭКСТРА
                        td.price 408 руб.
                    tr
                        td 12х1525х1525
                        td ЭКСТРА
                        td.price 518 руб.
                    tr
                        td 15х1525х1525
                        td ЭКСТРА
                        td.price 629 руб.
                    tr
                        td 18х1525х1525
                        td ЭКСТРА
                        td.price 739 руб.
                    tr
                        td 21х1525х1525
                        td ЭКСТРА
                        td.price 858 руб.


    h3.article__title
    p.article__p