extends pug-components/product

block product
    .title.title_h2
        .title__line
        .title__text Фанера ламинированная
        .title__line
    .spyLinks.flex_row__center.flex_wrap
        .spyLinks__item
            img(class="spyLink__img" src="img/Фанера ламинированная маленькие фото/Фанера 1 маленькое фото.jpg")
            a(class="link-spy spyLinks__link" href="#fanera-laminirovannaya-1220h2440-kitaj") 1220х2440 Китай
        .spyLinks__item
            img(class="spyLink__img" src="img/Фанера ламинированная маленькие фото/Фанера 1 маленькое фото.jpg")
            a(class="link-spy spyLinks__link" href="#fanera-laminirovannaya-1220h2440-rossiya") 1220х2440 Россия


    .product__gallery.gallery.flex_row__center.flex_wrap
        img(class="gallery__item" src="img/Фанера ламинированная большое фото/Фанера ламинированная 1 (большое фото).jpg")
        img(class="gallery__item" src="img/Фанера ламинированная большое фото/Фанера ламинированная 2 (большое фото).jpg")
        img(class="gallery__item" src="img/Фанера ламинированная большое фото/Фанера ламинированная 3 (большое фото).jpg")
        img(class="gallery__item" src="img/Фанера ламинированная большое фото/Фанера ламинированная 4 (большое фото).jpg")

    .table#fanera-laminirovannaya-1220h2440-kitaj
        .table__title 1220х2440 Китай
        .table__wrap
            table
                tbody
                    tr
                        th Размер, мм
                        th Качество
                        th Цена за лист
                    tr
                        td 18х1220х2440
                        td ЭКСТРА
                        td.price 1487 руб.
                    tr
                        td 21х1220х2440
                        td ЭКСТРА
                        td.price 1742 руб.

    .table#fanera-laminirovannaya-1220h2440-rossiya
        .table__title 1220х2440 Россия
        .table__wrap
            table
                tbody
                    tr
                        th Размер, мм
                        th Качество
                        th Цена за лист
                    tr
                        td 6х1220х2440
                        td ЭКСТРА
                        td.price 1402 руб.
                    tr
                        td 9х1220х2440
                        td ЭКСТРА
                        td.price 1742 руб.
                    tr
                        td 12х1220х2440
                        td ЭКСТРА
                        td.price 1870 руб.
                    tr
                        td 15х1220х2440
                        td ЭКСТРА
                        td.price 1955 руб.
                    tr
                        td 18х1220х2440
                        td ЭКСТРА
                        td.price 2125 руб.
                    tr
                        td 21х1220х2440
                        td ЭКСТРА
                        td.price 2380 руб.


    .table#fanera-laminirovannaya-1500h3000
        .table__title 1500х3000
        .table__wrap
            table
                tbody
                    tr
                        th Размер, мм
                        th Качество
                        th Цена за лист
                    tr
                        td 6х1500х3000
                        td ЭКСТРА
                        td.price 1870 руб.
                    tr
                        td 9х1500х3000
                        td ЭКСТРА
                        td.price 2125 руб.
                    tr
                        td 12х1500х3000
                        td ЭКСТРА
                        td.price 2550 руб.
                    tr
                        td 15х1500х3000
                        td ЭКСТРА
                        td.price 2805 руб.
                    tr
                        td 18х1500х3000
                        td ЭКСТРА
                        td.price 2975 руб.
                    tr
                        td 21х1500х3000
                        td ЭКСТРА
                        td.price 3655 руб.



    h3.article__title Ламинированная фанера - цена

    p.article__p Ламинированная фанера – материал, который может похвастаться такими качествами, как замечательная устойчивость к влаге и долговечность службы. Поэтому используют его в строительстве достаточно часто. Материал изготавливают из дерева, допускается как использование одного сорта, так и нескольких. Купить ламинированную фанеру в Москве можно у нас. На нашем сайте компании «STROY-ZAKAZ» вы найдете обширный ассортимент продукции.

    h3.article__title Характеристики материала

    p.article__p Фанера может иметь различную толщину – от 3 до 40 мм. Изготовление происходит методом склеивания слоев шпона между собой. Для этого используют только специальный клей. Он должен выдерживать быструю перемену температурного режима. После того, как материал прошел процесс склеивания, он попадает под пресс. Затем фанеру обрезают, чтобы ее размер соответствовал нужному. После этого материал подвергается важной процедуре – шлифовке. Таким образом он становится абсолютно гладким. Теперь дело за малым – ламинированная фанера обклеивается специальным материалом. Именно эта технология изготовления придает листу завидную стойкость к повреждениям, температуре, воде. Чтобы оклеить фанеру применяют не обычную пленку, а бумагу. Предварительно ее обрабатывают фенольной смолой.

    p.article__p Чтобы закрепить проделанную работу по укреплению материала, ему требуется пройти финальную покраску. Обязательно прокрашивают торцы фанеры. Теперь она готова прослужить долгое время и в любых условиях. Торцы красят акриловой краской. Такая обработка внешних краев приближает их по качеству основного покрытия.

    h3.article__title Основные сферы использования

    p.article__p Влагостойкий материал применяют для оборудования детских площадок, для обустройства перегородок в бытовках, как опалубку в бетонных конструкциях. Также ламинированный материал применяют при создании того или иного интерьера в доме. Интересно, что он может быть разного цвета. Какой оттенок будет иметь лист ламинированной фанеры в дальнейшем – зависит от того, какой пленкой его покрывают. Поэтому этот материал применяют и для изготовления мебели, к примеру, встроенных шкафов. Но максимальное применение все же попадает на обустройство опалубки во время изготовления монолитных элементов конструкций в строительстве. Такие качества, как легкость, износостойкость и прочность дают возможность строителям применять этот материал не менее 20 раз. Чтобы он служил дольше и лучше, листы покрывают составом, который не дает им приклеиваться к бетону.

    p.article__p Если вас интересует цена ламинируемой фанеры в Москве, тогда обратитесь к нашему ассортименту. Стоимость материала указана именно там. Когда вы решите приобрести фанеру, создайте заявку на нашем сайте, или же наберите наш номер. Мы поможем вам быстро оформить заявку, а после обговорим условия доставки.