extends pug-components/product

block product
    .title.title_h2
        .title__line
        .title__text Фанера ФСФ
        .title__line
    .spyLinks.flex_row__center.flex_wrap
        .spyLinks__item
            img(class="spyLink__img" src="img/Фанера ФСФ маленькие фото/Фанера Фсф 1 маленькая фотография.jpg")
            a(class="link-spy spyLinks__link" href="#fanera-fsf-1220-2440-3-3") Фанера ФСФ 1220*2440 3/3
        .spyLinks__item
            img(class="spyLink__img" src="img/Фанера ФСФ маленькие фото/Фанера Фсф 2 маленькая фотография.jpg")
            a(class="link-spy spyLinks__link" href="#fanera-fsf-1220-2440-3-4") Фанера ФСФ 1220х2440 3/4
        .spyLinks__item
            img(class="spyLink__img" src="img/Фанера ФСФ маленькие фото/Фанера Фсф 3 маленькая фотография.jpg")
            a(class="link-spy spyLinks__link" href="#fanera-fsf-1220-2440-4-4") Фанера ФСФ 1220*2440 4/4
        .spyLinks__item
            img(class="spyLink__img" src="img/Фанера ФСФ маленькие фото/Фанера Фсф 4 маленькая фотография.jpg")
            a(class="link-spy spyLinks__link" href="#fanera-fsf-1500-3000-4-4") Фанера ФСФ 1500*3000 4/4


    .product__gallery.gallery.flex_row__center.flex_wrap
        img(class="gallery__item" src="img/Фанера ФСФ большое фото/Фанера Фсф 1 Большая фотография.jpg")
        img(class="gallery__item" src="img/Фанера ФСФ большое фото/Фанера Фсф 2 Большая фотография.jpg")
        img(class="gallery__item" src="img/Фанера ФСФ большое фото/Фанера Фсф 3 Большая фотография.jpg")
        img(class="gallery__item" src="img/Фанера ФСФ большое фото/Фанера Фсф 4 Большая фотография.jpg")

    .table#fanera-fsf-1220-2440-3-3
        .table__title Фанера ФСФ 1220*2440 3/3
        .table__wrap
            table
                tbody
                    tr
                        th Размер, мм
                        th Качество
                        th Цена за лист
                    tr
                        td 6х1220х2440
                        td ЭКСТРА
                        td.price 467 руб.
                    tr
                        td 9х1220х2440
                        td ЭКСТРА
                        td.price 637 руб.
                    tr
                        td 12х1220х2440
                        td ЭКСТРА
                        td.price 765 руб.
                    tr
                        td 15х1220х2440
                        td ЭКСТРА
                        td.price 977 руб.
                    tr
                        td 18х1220х2440
                        td ЭКСТРА
                        td.price 1190 руб.
                    tr
                        td 21х1220х2440
                        td ЭКСТРА
                        td.price 1402 руб.


    .table#fanera-fsf-1220-2440-3-4
        .table__title Фанера ФСФ 1220х2440 3/4
        .table__wrap
            table
                tbody
                    tr
                        th Размер, мм
                        th Качество
                        th Цена за лист
                    tr
                        td 4х1220х2440
                        td ЭКСТРА
                        td.price 552 руб.
                    tr
                        td 6х1220х2440
                        td ЭКСТРА
                        td.price 637 руб.
                    tr
                        td 9х1220х2440
                        td ЭКСТРА
                        td.price 935 руб.
                    tr
                        td 12х1220х2440
                        td ЭКСТРА
                        td.price 1105 руб.
                    tr
                        td 15х1220х2440
                        td ЭКСТРА
                        td.price 1275 руб.
                    tr
                        td 18х1220х2440
                        td ЭКСТРА
                        td.price 1487 руб.
                    tr
                        td 21х1220х2440
                        td ЭКСТРА
                        td.price 1827 руб.


    .table#fanera-fsf-1220-2440-4-4
        .table__title Фанера ФСФ 1220*2440 4/4
        .table__wrap
            table
                tbody
                    tr
                        th Размер, мм
                        th Качество
                        th Цена за лист
                    tr
                        td 4х1220х2440
                        td ЭКСТРА
                        td.price 425 руб.
                    tr
                        td 6х1220х2440
                        td ЭКСТРА
                        td.price 510 руб.
                    tr
                        td 9х1220х2440
                        td ЭКСТРА
                        td.price 680 руб.
                    tr
                        td 12х1220х2440
                        td ЭКСТРА
                        td.price 807 руб.
                    tr
                        td 15х1220х2440
                        td ЭКСТРА
                        td.price 1062 руб.
                    tr
                        td 18х1220х2440
                        td ЭКСТРА
                        td.price 1275 руб.
                    tr
                        td 21х1220х2440
                        td ЭКСТРА
                        td.price 1402 руб.
                    tr
                        td 24х1220х2440
                        td ЭКСТРА
                        td.price 1802 руб.
                    tr
                        td 27х1220х2440
                        td ЭКСТРА
                        td.price 2023 руб.
                    tr
                        td 30х1220х2440
                        td ЭКСТРА
                        td.price 2244 руб.
                    tr
                        td 35х1220х2440
                        td ЭКСТРА
                        td.price 2592 руб.
                    tr
                        td 40х1220х2440
                        td ЭКСТРА
                        td.price 2975 руб.

    .table#fanera-fsf-1500-3000-4-4
        .table__title Фанера ФСФ 1500*3000 4/4
        .table__wrap
            table
                tbody
                    tr
                        th Размер, мм
                        th Качество
                        th Цена за лист
                    tr
                        td 6х1500х3000
                        td ЭКСТРА
                        td.price 807 руб.
                    tr
                        td 9х1500х3000
                        td ЭКСТРА
                        td.price 1173 руб.
                    tr
                        td 12х1500х3000
                        td ЭКСТРА
                        td.price 1445 руб.
                    tr
                        td 15х1500х3000
                        td ЭКСТРА
                        td.price 1827 руб.
                    tr
                        td 18х1500х3000
                        td ЭКСТРА
                        td.price 2040 руб.
                    tr
                        td 21х1500х3000
                        td ЭКСТРА
                        td.price 2167 руб.



    h3.article__title
    p.article__p