extends pug-components/layout

block append title
    -page = 'Главная'

block content
    .featuresSection
        .container
            ul.features.flex_row__around.text_pos_center.flex_wrap
                li.features__item Доставка по РФ по себестоимости!
                li.features__item Мы принимаем к оплате любые платежи
                li.features__item Работаем ежедневно, без выходных.

    .catalogSection#catalogSection
        .container
            .title.title_h2
                span.title__line
                h2.title__text Каталог продукции
                span.title__line
            .catalog.flex_row__center.flex_wrap.text_pos_center
                .catalog__item
                    img(class="catalog__img" src="img/picture-catalog-1.jpg")
                    span.catalog__text Брус обрезной
                    a(class="catalog__btn btn btn_primary" href="brus-obreznoi.html") Подробнее
                .catalog__item
                    img(class="catalog__img" src="img/picture-catalog-2.jpg")
                    span.catalog__text брус строганный
                    a(class="catalog__btn btn btn_primary" href="brus-stroganyy.html") Подробнее
                .catalog__item
                    img(class="catalog__img" src="img/picture-catalog-3.jpg")
                    span.catalog__text брус профилированый
                    a(class="catalog__btn btn btn_primary" href="brus-profilirovannyy.html") Подробнее
                .catalog__item
                    img(class="catalog__img" src="img/picture-catalog-4.jpg")
                    span.catalog__text Доска обрезная
                    a(class="catalog__btn btn btn_primary" href="doska-obreznaya.html") Подробнее
                .catalog__item
                    img(class="catalog__img" src="img/picture-catalog-5.jpg")
                    span.catalog__text Доска строганная
                    a(class="catalog__btn btn btn_primary" href="doska-strogannay.html") Подробнее
                .catalog__item
                    img(class="catalog__img" src="img/picture-catalog-6.jpg")
                    span.catalog__text Доска половая
                    a(class="catalog__btn btn btn_primary" href="doska-polovaya.html") Подробнее
                .catalog__item
                    img(class="catalog__img" src="img/picture-catalog-7.jpg")
                    span.catalog__text Вагонка
                    a(class="catalog__btn btn btn_primary" href="vagonka.html") Подробнее
                .catalog__item
                    img(class="catalog__img" src="img/picture-catalog-8.jpg")
                    span.catalog__text Фанера фк
                    a(class="catalog__btn btn btn_primary" href="fanera-fk.html") Подробнее
                .catalog__item
                    img(class="catalog__img" src="img/picture-catalog-9.jpg")
                    span.catalog__text Фанера фсф
                    a(class="catalog__btn btn btn_primary" href="fanera-fsf.html") Подробнее
                .catalog__item
                    img(class="catalog__img" src="img/picture-catalog-10.jpg")
                    span.catalog__text Фанера ламинированная
                    a(class="catalog__btn btn btn_primary" href="fanera-laminirovannaya.html") Подробнее
                .catalog__item
                    img(class="catalog__img" src="img/picture-catalog-11.jpg")
                    span.catalog__text osb плита
                    a(class="catalog__btn btn btn_primary" href="osb-3-plita.html") Подробнее
                .catalog__item
                    img(class="catalog__img" src="img/picture-catalog-12.jpg")
                    span.catalog__text имитация бруса
                    a(class="catalog__btn btn btn_primary" href="imitaciya-brusa.html") Подробнее
                .catalog__item
                    img(class="catalog__img" src="img/picture-catalog-13.jpg")
                    span.catalog__text БЛОК ХАУС
                    a(class="catalog__btn btn btn_primary" href="blok-haus.html") Подробнее
                .catalog__item
                    img(class="catalog__img" src="img/picture-catalog-14.jpg")
                    span.catalog__text брусок обрезной
                    a(class="catalog__btn btn btn_primary" href="brus-obreznoi.html") Подробнее
                .catalog__item
                    img(class="catalog__img" src="img/picture-catalog-15.jpg")
                    span.catalog__text брусок строганный
                    a(class="catalog__btn btn btn_primary" href="brus-stroganyy.html") Подробнее
                .catalog__item
                    img(class="catalog__img" src="img/picture-catalog-16.jpg")
                    span.catalog__text Паркетная доска
                    a(class="catalog__btn btn btn_primary" href="parketnaya-doska.html") Подробнее
                .catalog__item
                    img(class="catalog__img" src="img/picture-catalog-17.jpg")
                    span.catalog__text Террасная доска
                    a(class="catalog__btn btn btn_primary" href="terrasnaya-doska.html") Подробнее
                .catalog__item
                    img(class="catalog__img" src="img/picture-catalog-18.jpg")
                    span.catalog__text Пеллеты
                    a(class="catalog__btn btn btn_primary" href="pellety.html") Подробнее
                .catalog__item
                    img(class="catalog__img" src="img/picture-catalog-19.jpg")
                    span.catalog__text Брикеты
                    a(class="catalog__btn btn btn_primary" href="brikety.html") Подробнее





    .feedbackSection#feedbackSection
        .container
            .title.title_h2
                span.title__line
                h2.title__text отзывы о нашей компании
                span.title__line
            .slider.slider_regular.text_pos_center
                .slider__item.feedback
                    img(class="feedback__img" src="img/picture-feedback-1.jpg")
                    .feedback__name Павел Колесников
                    .feedback__city г. Воронеж
                    p.feedback__text Задумали строительство дачи. Хочется и домик, и баньку, и пару пристроек для хоз. нужд. Спасибо ребятам. Посоветовали, какой материал лучше выбрать, чтобы цена соответствовала качеству. Сразу видно, что болеют за свою работу, не просто время отбывают. Доставили всё в срок. Никаких нареканий нет.
                .slider__item.feedback
                    img(class="feedback__img" src="img/picture-feedback-2.jpg")
                    .feedback__name Пётр Тимофеев
                    .feedback__city г. Москва
                    p.feedback__text Здравствуйте, покупал здесь сухие доски для стройки, и вот что хочу сказать. Цены просто замечательные, оператору отдельный респект, посоветовал материал который по цене был меньше чем тот что хотел, а по качеству в разы лучше. Сколько времени прошло, а с досками ничего не случилось, как стояли так и стоят. Спасибо большое!!!! Магазин советую)
                .slider__item.feedback
                    img(class="feedback__img" src="img/picture-feedback-3.jpg")
                    .feedback__name Герман Тарасов
                    .feedback__city г. Пермь
                    p.feedback__text Хочу выразить благодарность. Покупал пиломатериалы  на отделку мансарды.  Очень большой ассортимент, отличного  качества.по приемлемой цене. Приятно удивил вас сервис обслуживания, все на высшем уровне. По мере надобности буду и дальше обращаться к вам.



    .contactSection#contactSection
        .container
            .contact__wrap
                .title.title_h2
                    span.title__line
                    h2.title__text Контакты
                    span.title__line
                ul.sz-contact.flex_row__around
                    li.sz-contact__item.sz-contact__item_phone +7 (499) 350 37 04
                    li.sz-contact__item.sz-contact__item_phone +7 (812) 309 42 95
                    li.sz-contact__item.sz-contact__item_phone +7 (861) 203 51 48
                    li.sz-contact__item.sz-contact__item_email stroyzakaz01@mail.ru
                    li.sz-contact__item.sz-contact__item_address Россия, Архангельская область, г. Северодвинск, Архангельское шоссе 29

    .mapSection
        #map_content

