extends pug-components/product

block product
    .title.title_h2
        .title__line
        .title__text OSB-3 Плита
        .title__line

    .product__gallery.gallery.flex_row__center.flex_wrap
        img(class="gallery__item" src="img/ОСБ большое фото/ОСБ плита 1 (большое фото).jpg")
        img(class="gallery__item" src="img/ОСБ большое фото/ОСБ плита 2 (большое фото).jpg")
        img(class="gallery__item" src="img/ОСБ большое фото/ОСБ плита 3 (большое фото).jpg")
        img(class="gallery__item" src="img/ОСБ большое фото/ОСБ плита 4 (большое фото).jpg")

    .table#fanera-laminirovannaya-1220h2440-kitaj
        .table__title OSB-3 Плита
        .table__wrap
            table
                tbody
                    tr
                        th Размер, мм
                        th Качество
                        th Цена за лист
                    tr
                        td 8х1220х2440
                        td ЭКСТРА
                        td.price 391 руб.
                    tr
                        td 8х1250х2500
                        td ЭКСТРА
                        td.price 400 руб.
                    tr
                        td 9х1220х2440
                        td ЭКСТРА
                        td.price 400 руб.
                    tr
                        td 9х1250х2500
                        td ЭКСТРА
                        td.price 416 руб.
                    tr
                        td 12х1220х2440
                        td ЭКСТРА
                        td.price 518 руб.
                    tr
                        td 12х1250х2500
                        td ЭКСТРА
                        td.price 535 руб.
                    tr
                        td 15х1220х2440
                        td ЭКСТРА
                        td.price 680 руб.
                    tr
                        td 15х1250х2500
                        td ЭКСТРА
                        td.price 705 руб.
                    tr
                        td 18х1220х2440
                        td ЭКСТРА
                        td.price 858 руб.
                    tr
                        td 18х1250х2500
                        td ЭКСТРА
                        td.price 884 руб.
                    tr
                        td 22х1220х2440
                        td ЭКСТРА
                        td.price 1173 руб.
                    tr
                        td 22х1250х2500
                        td ЭКСТРА
                        td.price 1173 руб.


    h3.article__title
    p.article__p