extends pug-components/product

block product
    .title.title_h2
        .title__line
        .title__text Паркетная доска
        .title__line
    .spyLinks.flex_row__center.flex_wrap
        .spyLinks__item
            img(class="spyLink__img" src="img/Паркетная доска маленькие фото/Паркетная доска из массива лиственницы.jpg")
            a(class="link-spy spyLinks__link" href="#parketnaya-doska-iz-massiva-listvennicy") из массива лиственницы
        .spyLinks__item
            img(class="spyLink__img" src="img/Паркетная доска маленькие фото/ПАРКЕТНАЯ ДОСКА ИЗ ЛИСТВЕННИЦЫ.jpg")
            a(class="link-spy spyLinks__link" href="#parketnaya-doska-iz-listvennicy-avangard") из лиственницы "АВАНГАРД"


    .product__gallery.gallery.flex_row__center.flex_wrap
        img(class="gallery__item" src="img/Паркетная доска большое фото/Паркетная доска 1 (большое фото).jpg")
        img(class="gallery__item" src="img/Паркетная доска большое фото/Паркетная доска 2 (большое фото).jpg")
        img(class="gallery__item" src="img/Паркетная доска большое фото/Паркетная доска 3 (большое фото).jpg")
        img(class="gallery__item" src="img/Паркетная доска большое фото/Паркетная доска 4 (большое фото).jpg")

    .table.table_big#parketnaya-doska-iz-massiva-listvennicy
        .table__title Паркетная доска из массива лиственницы
        .table__wrap
            table
                tbody
                    tr
                        th Сорт
                        th Длина, м
                        th Сечение, мм
                        th Укрываемая площадь м2
                        th Кол-во в упаковке, шт.
                        th Цена за упаковку
                    tr
                        td Э (Экстра)
                        td 0,64
                        td 19х80
                        td 0,31
                        td 6
                        td.price 284 руб.
                    tr
                        td А (Прима)
                        td 0,64
                        td 19х80
                        td 0,31
                        td 6
                        td.price 208 руб.
                    tr
                        td В (Рустик)
                        td 0,64
                        td 19х80
                        td 0,31
                        td 6
                        td.price 155 руб.
                    tr
                        td С (Кантри)
                        td 0,64
                        td 19х80
                        td 0,31
                        td 6
                        td.price 119 руб.
                    tr
                        td Э (Экстра)
                        td 0,66
                        td 19х110
                        td 0,29
                        td 4
                        td.price 268 руб.
                    tr
                        td Э (Экстра)
                        td 0,99
                        td 19х110
                        td 0,44
                        td 4
                        td.price 467 руб.
                    tr
                        td Э (Экстра)
                        td 1,21
                        td 19х110
                        td 0,53
                        td 4
                        td.price 563 руб.
                    tr
                        td Э (Экстра)
                        td 1,54
                        td 19х110
                        td 0,68
                        td 4
                        td.price 722 руб.
                    tr
                        td Э (Экстра)
                        td 1,98
                        td 19х110
                        td 0,87
                        td 4
                        td.price 1088 руб.
                    tr
                        td А (Прима)
                        td 0,66
                        td 19х110
                        td 0,29
                        td 4
                        td.price 232 руб.
                    tr
                        td А (Прима)
                        td 0,99
                        td 19х110
                        td 0,44
                        td 4
                        td.price 408 руб.
                    tr
                        td А (Прима)
                        td 1,21
                        td 19х110
                        td 0,53
                        td 4
                        td.price 491 руб.
                    tr
                        td А (Прима)
                        td 1,54
                        td 19х110
                        td 0,68
                        td 4
                        td.price 629 руб.
                    tr
                        td А (Прима)
                        td 1,98
                        td 19х110
                        td 0,87
                        td 4
                        td.price 805 руб.

                    tr
                        td В (Рустик)
                        td 0,66
                        td 19х110
                        td 0,29
                        td 4
                        td.price 160 руб.
                    tr
                        td В (Рустик)
                        td 0,99
                        td 19х110
                        td 0,44
                        td 4
                        td.price 295 руб.
                    tr
                        td В (Рустик)
                        td 1,54
                        td 19х110
                        td 0,68
                        td 4
                        td.price 456 руб.
                    tr
                        td В (Рустик)
                        td 1,98
                        td 19х110
                        td 0,87
                        td 4
                        td.price 583 руб.

                    tr
                        td С (Кантри)
                        td 0,66
                        td 19х110
                        td 0,29
                        td 4
                        td.price 136 руб.
                    tr
                        td С (Кантри)
                        td 0,99
                        td 19х110
                        td 0,44
                        td 4
                        td.price 243 руб.
                    tr
                        td С (Кантри)
                        td 1,54
                        td 19х110
                        td 0,68
                        td 4
                        td.price 375 руб.
                    tr
                        td С (Кантри)
                        td 1,98
                        td 19х110
                        td 0,87
                        td 4
                        td.price 481 руб.

                    tr
                        td Эконом
                        td 0,99
                        td 19х110
                        td 0,44
                        td 4
                        td.price 130 руб.
                    tr
                        td Эконом
                        td 1,54
                        td 19х110
                        td 0,68
                        td 4
                        td.price 202 руб.
                    tr
                        td Эконом
                        td 1,98
                        td 19х110
                        td 0,87
                        td 4
                        td.price 260 руб.

                    tr
                        td Э (Экстра)
                        td 0,67
                        td 19х134
                        td 0,36
                        td 4
                        td.price 363 руб.
                    tr
                        td Э (Экстра)
                        td 0,98
                        td 19х134
                        td 0,53
                        td 4
                        td.price 626 руб.
                    tr
                        td Э (Экстра)
                        td 1,474
                        td 19х134
                        td 0,79
                        td 4
                        td.price 933 руб.
                    tr
                        td Э (Экстра)
                        td 2,01
                        td 19х134
                        td 1,08
                        td 4
                        td.price 1275 руб.

                    tr
                        td А (Прима)
                        td 0,67
                        td 19х134
                        td 0,36
                        td 4
                        td.price 315 руб.
                    tr
                        td А (Прима)
                        td 0,938
                        td 19х134
                        td 0,5
                        td 4
                        td.price 498 руб.
                    tr
                        td А (Прима)
                        td 1,206
                        td 19х134
                        td 0,65
                        td 4
                        td.price 635 руб.
                    tr
                        td А (Прима)
                        td 1,474
                        td 19х134
                        td 0,79
                        td 4
                        td.price 772 руб.
                    tr
                        td А (Прима)
                        td 2,01
                        td 19х134
                        td 1,08
                        td 4
                        td.price 1055 руб.

                    tr
                        td В (Рустик)
                        td 0,67
                        td 19х134
                        td 0,36
                        td 4
                        td.price 229 руб.
                    tr
                        td В (Рустик)
                        td 0,938
                        td 19х134
                        td 0,5
                        td 4
                        td.price 377 руб.
                    tr
                        td В (Рустик)
                        td 1,474
                        td 19х134
                        td 0,79
                        td 4
                        td.price 583 руб.
                    tr
                        td В (Рустик)
                        td 2,01
                        td 19х134
                        td 1,08
                        td 4
                        td.price 800 руб.

                    tr
                        td С (Кантри)
                        td 0,67
                        td 19х134
                        td 0,36
                        td 4
                        td.price 198 руб.
                    tr
                        td С (Кантри)
                        td 0,938
                        td 19х134
                        td 0,5
                        td 4
                        td.price 316 руб.
                    tr
                        td С (Кантри)
                        td 1,474
                        td 19х134
                        td 0,79
                        td 4
                        td.price 490 руб.
                    tr
                        td С (Кантри)
                        td 2,01
                        td 19х134
                        td 1,08
                        td 4
                        td.price 670 руб.

                    tr
                        td Эконом
                        td 0,67
                        td 19х134
                        td 0,36
                        td 4
                        td.price 119 руб.
                    tr
                        td Эконом
                        td 0,938
                        td 19х134
                        td 0,5
                        td 4
                        td.price 169 руб.
                    tr
                        td Эконом
                        td 1,474
                        td 19х134
                        td 0,79
                        td 4
                        td.price 261 руб.





    .table#parketnaya-doska-iz-listvennicy-avangard
        .table__title Паркетная доска из лиственницы "АВАНГАРД"
        .table__wrap
            table
                tbody
                    tr
                        th Сорт
                        th Длина, м
                        th Сечение, мм
                        th Укрываемая площадь м2
                        th Кол-во в упаковке, шт.
                        th Цена за упаковку
                    tr
                        td А
                        td 2
                        td 18х200
                        td 2
                        td 5
                        td.price 1853 руб.
                    tr
                        td А
                        td 3
                        td 18х200
                        td 3
                        td 5
                        td.price 2779 руб.
                    tr
                        td Экстра
                        td 2
                        td 18х200
                        td 2
                        td 5
                        td.price 2023 руб.
                    tr
                        td Экстра
                        td 3
                        td 18х200
                        td 3
                        td 5
                        td.price 3034 руб.



    h3.article__title Паркетная доска

    p.article__p Среди различных видов материалов, предназначенных для напольного покрытия, классическим вариантом остается паркетная доска. Она отличается аккуратным внешним видом, демонстрируя при этом практичность и долговечность в использовании. Именно поэтому паркетную доску можно купить как для загородного дома, так и для квартиры.

    p.article__p При изготовлении такого материала используются исключительно инновационные технологии и новейшее оборудование. Такой подход позволяет сохранить неповторимую текстуру древесного массива и богатство его рисунка. Кроме того, существует возможность покраски паркетной доски в любой цвет, который наилучшим образом впишется в интерьер и дополнит его.

    p.article__p Технологии изготовления и виды древесины, используемые при производстве паркетной доски, во многом влияют и на цену готовых изделий.

    p.article__p Также важным преимуществом такого материала можно считать возможность многократной обработки напольного покрытия, изготовленного из массива дерева. По истечении времени, если материал изменил свой внешний вид в результате естественного износа или под воздействием агрессивных факторов, не составит труда вернуть ему первозданный вид.
    h3.article__title Паркетная доска: Ассортимент и цены

    p.article__p Технологии изготовления покрытия дают возможность использовать такой материал для оформления пола без дополнительной обработки. Так вы сумеете купить в Москве практичную и надежную паркетную доску, на сайте компании «ПримаЛес» указана вся актуальная информация об изделиях – цены, описания, а также характеристики:
    p.article__p — материал – лиственница;
    p.article__p — способ соединения – «шип-паз»;
    p.article__p — сорт – А, В, С, Э, Эконом;
    p.article__p — длина – 0,6-3 м;
    p.article__p — ширина – 110-200 мм;
    p.article__p — толщина – 18-19 мм.

    p.article__p Влажность досок составляет до 8%. Такая особенность позволяет гарантировать длительный срок службы напольного покрытия без деформаций и повреждений.