extends pug-components/product

block product
    .title.title_h2
        .title__line
        .title__text Пеллеты
        .title__line

    .product__gallery.gallery.flex_row__center.flex_wrap
        img(class="gallery__item" src="img/Пеллеты/Пеллеты 1 (большое фото).jpg")
        img(class="gallery__item" src="img/Пеллеты/Пеллеты 2 (большое фото).jpg")
        img(class="gallery__item" src="img/Пеллеты/Пеллеты 3 (большое фото).jpg")
        img(class="gallery__item" src="img/Пеллеты/Пеллеты 4 (большое фото).jpg")

    .table.table_big
        .table__title Вельвет
        .table__wrap
            table
                tbody
                    tr
                        th Вид
                        th Цвет
                        th Диаметр
                        th Зольность
                        th Фасовка
                        th Цена за тонну
                    tr
                        td Пеллеты EnPlus A1
                        td Белые
                        td 6-8 мм
                        td 0,29%
                        td мешки 15кг
                        td.price 7055 руб.
                    tr
                        td Пеллеты EnPlus A1
                        td Белые
                        td 6-8 мм
                        td 0,29%
                        td биг-бег 1 тонна
                        td.price 6715 руб.
                    tr
                        td Пеллеты EnPlus
                        td Серые
                        td 8 мм
                        td 0,5%
                        td мешки 15кг
                        td.price 6375 руб.
                    tr
                        td Пеллеты EnPlus
                        td Серые
                        td 8 мм
                        td 0,5%
                        td биг-бег 1 тонна
                        td.price 6035 руб.
                    tr
                        td Агро пеллеты
                        td Чёрные
                        td 8 мм
                        td -
                        td мешки 15кг
                        td.price 5440 руб.
