extends pug-components/product

block product
    .title.title_h2
        .title__line
        .title__text Террасная доска из лиственницы
        .title__line
    .spyLinks.flex_row__center.flex_wrap
        .spyLinks__item
            img(class="spyLink__img" src="img/Террасная доска маленькие фото/Террасная доска из лиственницы Вельвет.jpg")
            a(class="link-spy spyLinks__link" href="#terrasnaya-doska-iz-listvennicy-velvet") вельвет
        .spyLinks__item
            img(class="spyLink__img" src="img/Террасная доска маленькие фото/Террасная доска из лиственницы Гладкая.jpg")
            a(class="link-spy spyLinks__link" href="#terrasnaya-doska-iz-listvennicy-gladkaya") гладкая


    .product__gallery.gallery.flex_row__center.flex_wrap
        img(class="gallery__item" src="img/Террасная доска большое фото/Террасная доска из 1 (большое фото).jpg")
        img(class="gallery__item" src="img/Террасная доска большое фото/Террасная доска из 2 (большое фото).jpg")
        img(class="gallery__item" src="img/Террасная доска большое фото/Террасная доска из 3 (большое фото).jpg")
        img(class="gallery__item" src="img/Террасная доска большое фото/Террасная доска из 4 (большое фото).jpg")

    .table.table_big#terrasnaya-doska-iz-listvennicy-velvet
        .table__title Вельвет
        .table__wrap
            table
                tbody
                    tr
                        th Сорт
                        th Длина, м
                        th Сечение, мм
                        th Укрываемая площадь м2
                        th Кол-во в упаковке, шт.
                        th Цена за упаковку
                    tr
                        td ГОСТ
                        td 3
                        td 27х140
                        td 1,68
                        td 4
                        td.price 2843 руб.
                    tr
                        td А
                        td 2,5
                        td 27х142
                        td 1,07
                        td 3
                        td.price 1496 руб.
                    tr
                        td А
                        td 3
                        td 27х142
                        td 1,28
                        td 3
                        td.price 1793 руб.
                    tr
                        td А
                        td 4
                        td 27х142
                        td 1,7
                        td 3
                        td.price 2392 руб.

                    tr
                        td В
                        td 3
                        td 27х142
                        td 1,28
                        td 3
                        td.price 1292 руб.
                    tr
                        td В
                        td 4
                        td 27х142
                        td 2,27
                        td 4
                        td.price 2299 руб.

                    tr
                        td С
                        td 2,5
                        td 27х142
                        td 1,07
                        td 3
                        td.price 807 руб.
                    tr
                        td С
                        td 2,8
                        td 27х142
                        td 1,59
                        td 4
                        td.price 1202 руб.
                    tr
                        td С
                        td 3
                        td 27х142
                        td 1,7
                        td 4
                        td.price 1292 руб.
                    tr
                        td С
                        td 3,5
                        td 27х142
                        td 1,99
                        td 4
                        td.price 1504 руб.
                    tr
                        td С
                        td 4
                        td 27х142
                        td 1,7
                        td 3
                        td.price 1292 руб.
                    tr
                        td С
                        td 5
                        td 27х142
                        td 2,84
                        td 4
                        td.price 2150 руб.

                    tr
                        td Эконом
                        td 2,5
                        td 27х142
                        td 1,42
                        td 4
                        td.price 820 руб.
                    tr
                        td Эконом
                        td 3
                        td 27х142
                        td 1,7
                        td 4
                        td.price 986 руб.

                    tr
                        td ГОСТ
                        td 2,8
                        td 27х142
                        td 1,7
                        td 1,59
                        td.price 2690 руб.
                    tr
                        td ГОСТ
                        td 3
                        td 27х142
                        td 1,7
                        td 4
                        td.price 2885 руб.
                    tr
                        td ГОСТ
                        td 3,5
                        td 27х142
                        td 1,99
                        td 4
                        td.price 3366 руб.
                    tr
                        td ГОСТ
                        td 4
                        td 27х142
                        td 2,27
                        td 4
                        td.price 3846 руб.




    .table.table_big#terrasnaya-doska-iz-listvennicy-gladkaya
        .table__title Гладкая
        .table__wrap
            table
                tbody
                    tr
                        th Сорт
                        th Длина, м
                        th Сечение, мм
                        th Укрываемая площадь м2
                        th Кол-во в упаковке, шт.
                        th Цена за упаковку
                    tr
                        td А
                        td 4
                        td 27х90
                        td 1,44
                        td 4
                        td.price 1959 руб.
                    tr
                        td В
                        td 4
                        td 27х90
                        td 1,44
                        td 4
                        td.price 1457 руб.
                    tr
                        td ГОСТ
                        td 4
                        td 27х90
                        td 1,44
                        td 4
                        td.price 2375 руб.
                    tr
                        td А
                        td 2,5
                        td 28х115
                        td 1,15
                        td 4
                        td.price 1615 руб.
                    tr
                        td А
                        td 3
                        td 28х115
                        td 1,04
                        td 3
                        td.price 1453 руб.
                    tr
                        td А
                        td 4
                        td 28х115
                        td 1,84
                        td 4
                        td.price 2579 руб.
                    tr
                        td В
                        td 3
                        td 28х115
                        td 1,04
                        td 3
                        td.price 1045 руб.
                    tr
                        td В
                        td 3,5
                        td 28х115
                        td 1,61
                        td 4
                        td.price 1627 руб.
                    tr
                        td В
                        td 4
                        td 28х115
                        td 1,84
                        td 4
                        td.price 1861 руб.
                    tr
                        td С
                        td 3
                        td 28х115
                        td 1,04
                        td 3
                        td.price 786 руб.
                    tr
                        td С
                        td 3,5
                        td 28х115
                        td 1,61
                        td 4
                        td.price 1219 руб.
                    tr
                        td С
                        td 4
                        td 28х115
                        td 1,84
                        td 4
                        td.price 1394 руб.
                    tr
                        td Эконом
                        td 3
                        td 28х115
                        td 1,38
                        td 4
                        td.price 800 руб.
                    tr
                        td Эконом
                        td 4
                        td 28х115
                        td 1,84
                        td 4
                        td.price 1062 руб.
                    tr
                        td ГОСТ
                        td 2,5
                        td 28х115
                        td 1,15
                        td 4
                        td.price 1946 руб.
                    tr
                        td ГОСТ
                        td 3
                        td 28х115
                        td 1,38
                        td 4
                        td.price 2333 руб.
                    tr
                        td ГОСТ
                        td 4
                        td 28х115
                        td 1,84
                        td 4
                        td.price 3111 руб.
                    tr
                        td А
                        td 3
                        td 28х120
                        td 1,44
                        td 4
                        td.price 2018 руб.
                    tr
                        td А
                        td 4
                        td 28х120
                        td 1,92
                        td 4
                        td.price 2694 руб.
                    tr
                        td В
                        td 3
                        td 28х120
                        td 1,44
                        td 4
                        td.price 1457 руб.
                    tr
                        td В
                        td 4
                        td 28х120
                        td 1,92
                        td 4
                        td.price 1942 руб.
                    tr
                        td Эконом
                        td 3
                        td 28х120
                        td 1,44
                        td 4
                        td.price 833 руб.
                    tr
                        td ГОСТ
                        td 3
                        td 28х120
                        td 1,44
                        td 4
                        td.price 2435 руб.
                    tr
                        td А
                        td 2,5
                        td 28х140
                        td 1,4
                        td 4
                        td.price 1963 руб.
                    tr
                        td А
                        td 3
                        td 28х140
                        td 1,68
                        td 4
                        td.price 2358 руб.
                    tr
                        td А
                        td 4
                        td 28х140
                        td 2,24
                        td 4
                        td.price 3140 руб.
                    tr
                        td В
                        td 2,5
                        td 28х140
                        td 1,4
                        td 4
                        td.price 1415 руб.
                    tr
                        td В
                        td 3
                        td 28х140
                        td 1,26
                        td 3
                        td.price 1275 руб.
                    tr
                        td В
                        td 4
                        td 28х140
                        td 1,68
                        td 3
                        td.price 1700 руб.
                    tr
                        td В
                        td 5
                        td 28х140
                        td 2,1
                        td 3
                        td.price 2125 руб.
                    tr
                        td С
                        td 2,5
                        td 28х140
                        td 1,4
                        td 4
                        td.price 1058 руб.
                    tr
                        td С
                        td 3
                        td 28х140
                        td 1,26
                        td 3
                        td.price 952 руб.
                    tr
                        td С
                        td 4
                        td 28х140
                        td 1,68
                        td 3
                        td.price 1270 руб.
                    tr
                        td Эконом
                        td 6
                        td 28х140
                        td 3,36
                        td 4
                        td.price 1942 руб.
                    tr
                        td ГОСТ
                        td 2,5
                        td 28х140
                        td 1,4
                        td 4
                        td.price 2367 руб.
                    tr
                        td ГОСТ
                        td 3
                        td 28х140
                        td 1,68
                        td 4
                        td.price 2843 руб.
                    tr
                        td ГОСТ
                        td 3,5
                        td 28х140
                        td 1,96
                        td 4
                        td.price 3315 руб.
                    tr
                        td ГОСТ
                        td 4
                        td 28х140
                        td 2,24
                        td 4
                        td.price 3791 руб.
                    tr
                        td А
                        td 3
                        td 40х140
                        td 1,26
                        td 3
                        td.price 2465 руб.
                    tr
                        td В
                        td 3
                        td 40х140
                        td 1,26
                        td 3
                        td.price 1768 руб.
                    tr
                        td С
                        td 3
                        td 40х140
                        td 1,26
                        td 3
                        td.price 1287 руб.
                    tr
                        td С
                        td 4
                        td 40х140
                        td 1,68
                        td 3
                        td.price 1717 руб.
                    tr
                        td С
                        td 5
                        td 40х140
                        td 2,1
                        td 3
                        td.price 2142 руб.
                    tr
                        td ГОСТ
                        td 3
                        td 40х140
                        td 1,26
                        td 3
                        td.price 3106 руб.




    h3.article__title Террасная доска

    p.article__p Для устройства пола на открытых объектах, таких как беседка, крыльцо, балкон, патио или садовые дорожки, используется особый тип материала – террасная доска. Современное производство допускает применение как натуральных, так и комбинированных компонентов для изготовления таких материалов, однако классическим вариантом остается натуральное дерево.

    p.article__p Террасная доска представляет собой один из видов декинга, известного также как «садовый паркет». Он отличается высокой прочностью, устойчивостью к воздействию природных факторов, а также отличными эксплуатационными свойствами. При правильном монтаже и своевременном уходе такой пол в течение долгого времени будет оставаться прочным, надежным и красивым.
    h3.article__title Особенности использования террасной доски

    p.article__p Внешний вид и срок эксплуатации такого материала зависят не только от типа древесины, но и от способа монтажа. Если вы решили купить террасную доску, укладывать такой декинг необходимо по особой схеме – оставляя зазор между отдельными изделиями. В это пространство будет стекать вода после дождя, что защитит покрытие от деформации и трещин.
    h3.article__title Выгодное предложение
    p.article__p В нашем ассортименте вы найдете самые популярные виды напольных покрытий. Декинг представлен в двух вариантах исполнения:
    p.article__p — «гладкий»
    p.article__p — «вельвет»
    p.article__p Вы можете выбрать террасную доску, которая подойдет вам не только по цене, но и по ряду характеристик декинга:Декинг представлен в двух вариантах исполнения:
    p.article__p — сорт: ГОСТ, Прима, А, А-В, В, В-С, С и Эконом;
    p.article__p — длина: 2,0-6,0 м;
    p.article__p — толщина: 25-45 мм;
    p.article__p — ширина: 115-143 мм.