extends pug-components/product

block product
    .title.title_h2
        .title__line
        .title__text Утеплитель
        .title__line
    .spyLinks.flex_row__center.flex_wrap
        .spyLinks__item
            img(class="spyLink__img" src="img/Утеплитель маленькие фото/Утеплитель ROCKWOOL маленькое фото.jpg")
            a(class="link-spy spyLinks__link" href="#uteplitel-rockwool") Утеплитель ROCKWOOL
        .spyLinks__item
            img(class="spyLink__img" src="img/Утеплитель маленькие фото/Утеплитель URSA GEO маленькое фото.jpg")
            a(class="link-spy spyLinks__link" href="#uteplitel-ursa-geo") Утеплитель URSA GEO
        .spyLinks__item
            img(class="spyLink__img" src="img/Утеплитель маленькие фото/Утеплитель IZOBEL маленькое фото.jpg")
            a(class="link-spy spyLinks__link" href="#uteplitel-izobel") Утеплитель IZOBEL
        .spyLinks__item
            img(class="spyLink__img" src="img/Утеплитель маленькие фото/Утеплитель IZOVOL.jpg")
            a(class="link-spy spyLinks__link" href="#uteplitel-izovol") Утеплитель IZOVOL
        .spyLinks__item
            img(class="spyLink__img" src="img/Утеплитель маленькие фото/Утеплитель IZOROC.jpg")
            a(class="link-spy spyLinks__link" href="#uteplitel-isoroc") Утеплитель ISOROC


    .product__gallery.gallery.flex_row__center.flex_wrap
        img(class="gallery__item" src="img/Утеплитель большое фото/Утеплитель 1 (большое фото).jpg")
        img(class="gallery__item" src="img/Утеплитель большое фото/Утеплитель 2 (большое фото).jpg")
        img(class="gallery__item" src="img/Утеплитель большое фото/Утеплитель 3 (большое фото).jpg")
        img(class="gallery__item" src="img/Утеплитель большое фото/Утеплитель 4 (большое фото).jpg")

    .table#uteplitel-rockwool
        .table__title Утеплитель ROCKWOOL
        .table__wrap
            table
                tbody
                    tr
                        th Размер, мм
                        th Площадь в упаковке, м2
                        th Цена за упаковку
                    tr
                        td Венти баттс 1000х600х100
                        td 2,4
                        td.price 731 руб.
                    tr
                        td Венти баттс 1000х600х50
                        td 4,8
                        td.price 731 руб.
                    tr
                        td Лайт баттс скандик 800х600х100
                        td 2,88
                        td.price 400 руб.
                    tr
                        td Лайт баттс скандик 800х600х50
                        td 5,76
                        td.price 400 руб.
                    tr
                        td Лайт баттс эконом 1000х600х100
                        td 4 шт
                        td.price 340 руб.
                    tr
                        td Лайт баттс эконом 1000х600х50
                        td 8 шт.
                        td.price 340 руб.

    .table#uteplitel-ursa-geo
        .table__title Утеплитель URSA GEO
        .table__wrap
            table
                tbody
                    tr
                        th Размер, мм
                        th Цена за упаковку
                    tr
                        td Ursa Geo M11-F 9000х1200х100
                        td.price 765 руб.
                    tr
                        td Ursa Geo M25-F 9000х1200х100
                        td.price 765 руб.

    .table#uteplitel-izobel
        .table__title Утеплитель IZOBEL
        .table__wrap
            table
                tbody
                    tr
                        th Размер, мм
                        th Цена за упаковку
                    tr
                        td 1000х600х100
                        td.price 340 руб.
                    tr
                        td 1000х600х50
                        td.price 340 руб.

    .table#uteplitel-izovol
        .table__title Утеплитель IZOVOL
        .table__wrap
            table
                tbody
                    tr
                        th Размер, мм
                        th Цена за упаковку
                    tr
                        td 1000х600х100
                        td.price 425 руб.
                    tr
                        td 1000х600х50
                        td.price 425 руб.

    .table#uteplitel-isoroc
        .table__title Утеплитель ISOROC
        .table__wrap
            table
                tbody
                    tr
                        th Размер, мм
                        th Цена за упаковку
                    tr
                        td 1000х500х100
                        td.price 340 руб.
                    tr
                        td 1000х500х50
                        td.price 340 руб.



    h3.article__title
    p.article__p