extends pug-components/product

block product
    .title.title_h2
        .title__line
        .title__text Вагонка
        .title__line
    .spyLinks.flex_row__center.flex_wrap
        .spyLinks__item
            img(class="spyLink__img" src="img/Вагонка маленькие фото/Евровагонка (маленькое фото).jpg")
            a(class="link-spy spyLinks__link" href="#evrovagonka") Евровагонка (сосна)
        .spyLinks__item
            img(class="spyLink__img" src="img/Вагонка маленькие фото/Вагонка (маленькое фото).jpg")
            a(class="link-spy spyLinks__link" href="#vagonka") Вагонка Штиль (лиственница)
        .spyLinks__item
            img(class="spyLink__img" src="img/Вагонка маленькие фото/Вагонка сухая (маленькое фото).jpg")
            a(class="link-spy spyLinks__link" href="#vagonka-suhaya") Вагонка Штиль (осина)

    .product__gallery.gallery.flex_row__center.flex_wrap
        img(class="gallery__item" src="img/Вагонка большие фото/Вагонка 1 (большое фото).jpg")
        img(class="gallery__item" src="img/Вагонка большие фото/Вагонка 2 (большое фото).jpg")
        img(class="gallery__item" src="img/Вагонка большие фото/Вагонка 3 (большое фото).jpg")
        img(class="gallery__item" src="img/Вагонка большие фото/Вагонка 4 (большое фото).jpg")

    .table#evrovagonka
        .table__title Евровагонка (сосна)
        .table__wrap
            table
                tbody
                    tr
                        th Размер, мм
                        th Длина, м
                        th СОРТ
                        th Цена за м2
                    tr
                        td 12,5х96
                        td от 2 до 6
                        td А
                        td.price 230 руб.
                    tr
                        td 12,5х140
                        td от 2 до 6
                        td А
                        td.price 230 руб.
                    tr
                        td 12,5х96
                        td от 2 до 6
                        td В
                        td.price 210 руб.
                    tr
                        td 12,5х140
                        td от 2 до 6
                        td В
                        td.price 210 руб.
                    tr
                        td 12,5х96
                        td от 2 до 6
                        td С
                        td.price 190 руб.
                    tr
                        td 12,5х140
                        td от 2 до 6
                        td С
                        td.price 190 руб.




    .table#vagonka
        .table__title Вагонка Штиль (лиственница)
        .table__wrap
            table
                tbody
                    tr
                        th Размер, мм
                        th Длина, м
                        th СОРТ
                        th Цена за м2
                    tr
                        td 14х120
                        td от 2 до 6
                        td ГОСТ
                        td 600 руб.
                    tr
                        td 14х120
                        td от 2 до 6
                        td ПРИМА
                        td 500 руб.
                    tr
                        td 14х120
                        td от 2 до 6
                        td А
                        td 400 руб.
                    tr
                        td 14х120
                        td от 2 до 6
                        td В
                        td 350 руб.


    .table#vagonka-suhaya
        .table__title Вагонка Штиль (осина)
        .table__wrap
            table
                tbody
                    tr
                        th Размер, мм
                        th Длина, м
                        th СОРТ
                        th Цена за м2
                    tr
                        td 15х96
                        td от 1 до 3
                        td ГОСТ
                        td 750 руб.
                    tr
                        td 15х96
                        td от 1 до 3
                        td А
                        td 600 руб.


    h3.article__title Качественная деревянная вагонка широко применяется для фасадной и внутренней отделки.

    p.article__p За счет производства изделий из натуральной древесины гарантируются ее низкая теплопроводность, долгий срок службы и эффектный внешний вид.

    h3.article__title Деревянная вагонка: разновидности и их отличия, размеры

    p.article__p Каждый класс деревянной вагонки устанавливается согласно ее состоянию. Следующая классификация по группам позволяет легко подобрать оптимальный тип фасадного пиломатериала для работы:
    p.article__p Основные виды:
    p.article__p — <b>"Экстра"</b>. Не имеет дефектов, обладает самой высокой ценой.
    p.article__p — <b>"Прима"</b>. Может включать минимальное количество сучков.
    p.article__p — <b>"A"</b>. Имеет незначительные природные дефекты.
    p.article__p — <b>"AB"</b>. Имеет минимум дефектов, дешевле группы "A".
    p.article__p — <b>"B"</b>. Может иметь цветовое изменение оттенка древесины, включать сучки.
    p.article__p — <b>"C"</b>. Самая дешевая доска с присутствием дефектов.

    p.article__p Для указанных групп цена квадратного метра (при одинаковых размерах и объеме) будет несколько отличаться. Поэтому узнать, сколько будет стоить фасадный пиломатериал, поможет ознакомление с его характеристиками.
    h3.article__title Особенности применения вагонки

    p.article__p Стоимость разных видов вагонки зависит от множества критериев: размер изделия и его цена за квадратный метр, качество. Но не менее важен и материал досок:
    p.article__p — сосна, ель (для отделки деревянных домов, закрытых террас);
    p.article__p — липа, осина (для бань и саун);
    p.article__p — лиственница (для жилых помещений (потолки, стены) саун или бань).

    p.article__p При выборе нужных размеров материала также стоит учитывать и отличия их профилей. От особенностей скрепления фасадного материала, зависит количество квадратных метров изделий, требуемых для проведения работ. Разделяется вагонка по типу профилей на такие группы: евро, штиль (колхозница, крестьянка).
    h3.article__title Дешевая вагонка в Москве: Как выбрать и заказать изделия?

    p.article__p Наша компания предлагает всем желающим купить по выгодной цене деревянную вагонку в любом объеме. У нас каждому клиенту доступен опт и розница: в каталогах компании может быть приобретен 50 м2, 1 куб изделий.

    p.article__p Для всех товаров указан размер (длина от 3 до 6 м, ширина, толщина) и сорт. Подробная информация позволяет легко подобрать недорогой материал, независимо от того будет заказан всего квадратный метр сырья или целая пачка.

    p.article__p Доставка вагонки возможна не только по Москве и области, но и по всей России автотранспортом компании. Возможен самовывоз.